@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
  }
}

.root {
  width: 100%;
  height: 80zu;
  font-size: 3zu;
}

.root svg {
  overflow: visible;
}