@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.tag {
  row-gap: 1.5zu;
  column-gap: 2zu;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.number {
  font-size: 3zu;
  color: var(--glob-mute-text-color);
  display: flex;
  align-items: center;
}

.number-icon {
  margin-inline-end: var(--glob-blank-gap);
}

.footer {
  column-gap: 3zu;
  display: flex;
}