@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --border-color: #{leveled-color("gray", 1)};
    --background-color: #{single-color("white")};
    --box-shadow-color: #{leveled-color("gray", 5, 0.2)};
    --stain-color: #{single-color("stain-light", 0.05)};
  }
  @include device("desktop") {
    --padding-inline: var(--glob-page-horizontal-padding-desktop);
  }
  @include device("mobile") {
    --padding-inline: var(--glob-page-horizontal-padding-mobile);
  }
}

.root {
  padding-block-start: 8zu;
  padding-inline: var(--padding-inline);
  border-block-end: solid 1zx var(--border-color);
  background-color: var(--background-color);
  background-image: var(--glob-noise-background-image);
  box-shadow: var(--glob-stain-shadow-setting) var(--stain-color);
}

.name {
  @include bold-font;
  font-size: 8zu;
  color: var(--glob-secondary-heading-text-color);
}

.tab-list {
  margin-block-start: 6zu;
  border-block-end: none;
}