@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  line-height: 1;
  display: inline-flex;
  align-items: center;
  &[data-subvariant="bordered"] {
    padding-block: 0.5zu;
    padding-inline-start: 0.5zu;
    padding-inline-end: 1.5zu;
    border-radius: 1000px;
    border: 1zx solid var(--glob-border-color);  
  }
  &[data-subvariant="simple"] {
  }
}

.avatar {
  margin-inline-end: var(--glob-blank-gap);
}

.dummy {
  &::before {
    content: "\200B";
  }
}