@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  column-gap: var(--glob-blank-gap);
  display: flex;
  align-items: baseline;
}

.icon {
  color: var(--glob-mute-text-color);
  flex: 0 0 auto;
}

.main {
  flex: 1 1 auto;
}

.dictionary {
  margin-block-end: 2zu;
  align-self: flex-start;
}