@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
}

.header {
  margin-block-end: 3zu;
  row-gap: 1.5zu;
  display: flex;
  flex-direction: column;
}

.author {
  font-size: 3zu;
  color: var(--glob-mute-text-color);
}

.date {
  margin-block-end: 2zu;
  font-size: 3zu;
  color: var(--glob-mute-text-color);
}

.translation {
  &:not([data-large]) {
    font-size: 4zu;
  }
  &[data-large] {
    font-size: 5zu;
  }
}

.supplement {
  margin-block-start: 2zu;
  font-size: 3.5zu;
  color: var(--glob-mute-text-color);
}

.list {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
}

.footer {
  column-gap: 3zu;
  display: flex;
}