@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  display: flex;
  flex-direction: column;
}

.dictionary {
  @include bold-font;
  margin-block-end: 2zu;
  color: var(--glob-primary-heading-text-color);
  align-self: flex-start;
  &:hover {
    color: var(--glob-primary-heading-hover-text-color);
  }
}