@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.adsense {
  margin-block-end: 6zu;
}

.main {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.size {
  color: var(--glob-mute-text-color);
}