@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root >main {
  display: flex;
  flex-direction: column;
}

.main {
  margin-block-end: 16zu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
}