@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.list {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.absent {
  min-height: 8zu;
  padding-block: 3zu;
  padding-inline: 3zu;
  color: var(--glob-mute-text-color);
  border-radius: var(--glob-border-radius);
  border: solid 1zx var(--glob-border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}