@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --heading-text-color: #{leveled-color("secondary", 5)};
    --date-text-color: #{leveled-color("gray", 5)};
    --icon-color: #{leveled-color("secondary", 5)};
  }
}

.top {
  column-gap: 3zu;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 8zu;
  color: var(--icon-color);
  flex: 0 0 auto;
}

.heading-container {
  row-gap: 1zu;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.heading {
  @include bold-font;
  font-size: 6zu;
  color: var(--heading-text-color);
}

.date {
  font-size: 3.5zu;
  color: var(--date-text-color);
}

.badge {
  margin-block-start: 2zu;
}

.text {
  margin-block-start: 3zu;
}