@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  width: 100%;
  max-width: 160zu;
  margin-inline: auto;
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
}

.icon {
  color: var(--glob-mute-text-color);
}

.select-group {
  display: flex;
  @include device("desktop") {
    row-gap: 2zu;
    flex-direction: column;  
  }
  @include device("mobile") {
    column-gap: 4zu;
    justify-content: center;
  }
}

.row {
  column-gap: 4zu;
  display: flex;
  justify-content: center;
}