@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  column-gap: 2zu;
  font-size: 3.5zu;
  display: flex;
}

.root-loading {
  font-size: 6zu;
  color: var(--glob-mute-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}