@charset "utf-8";


.root {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.table {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
}

.row {
  column-gap: 2zu;
  display: flex;
  align-items: center;
}

.type {
  flex: 0 0 auto;
  inline-size: 40zu;
}

.url {
  flex: 1 1 auto;
}
