@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --area-stroke-color: #{leveled-color("gray", 5)};
  }
}

.root {
  width: 32zu;
  height: 8zu;
  flex: 0 0 auto;
}

.root svg {
  overflow: visible;
}

.area :global(.recharts-area-area) {
  fill: var(--area-stroke-color);
  fill-opacity: 0.2;
}

.area :global(.recharts-area-curve) {
  stroke: var(--area-stroke-color);
  fill-opacity: 1;
}

.area :global(.recharts-area-dot) {
  display: none;
}