@charset "utf-8";


.root {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.1em;
  margin-inline-end: var(--glob-blank-gap);
  color: var(--glob-mute-text-color);
  display: inline-block;
  text-align: center;
}
