@charset "utf-8";

@use "zographia/source/component/function.scss" as *;
@forward "../common.scss";


.status {
  column-gap: var(--glob-blank-gap);
  color: var(--glob-mute-text-color);
  display: flex;
}