@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.top {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
}

.heading {
  column-gap: 3zu;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 8zu;
  color: var(--glob-primary-heading-text-color);
  flex: 0 0 auto;
}

.heading-right {
  row-gap: 1.5zu;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.title {
  @include bold-font;
  font-size: 6zu;
  color: var(--glob-primary-heading-text-color);
}

.date {
  font-size: 3.5zu;
  color: var(--glob-mute-text-color);
}

.tag {
  column-gap: 2zu;
  display: flex;
}

.text {
}