<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ログイン</title>
  </head>
  <body>

    <form action="/user/login" method="post">
      名前: <input type="text" name="name"><br>
      パスワード: <input type="text" name="password"><br>
      <input type="submit" value="送信">
    </form>

  </body>
</html>