<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ファイルアップロード</title>
  </head>
  <body>

    <form action="/api/dictionary/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file"><br>
      <input type="submit" value="送信">
    </form>

  </body>
</html>