@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.control {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.button {
  margin-block-start: 4zu;
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
  align-items: center;
}