@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.main {
  row-gap: 8zu;
  display: flex;
  flex-direction: column;
}

.section-list {
  row-gap: 8zu;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.section-plus {
  grid-column: 1 / -1;
}