@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --background-color: #{single-color("background-light")};
    --button-text-color: #{leveled-color("gray", 5)};
    --hover-button-text-color: #{leveled-color("gray", 6)};
    --focus-color: #{leveled-color("gray", 5, var(--glob-focus-alpha))};
  }
}

.root {
  display: flex;
  flex-direction: column;
}

.tab-list {
  margin-block-end: 8zu;
}

.part {
  &:not([data-shown]) {
    display: none;
  }
}