@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  border-block: solid 1zx var(--section-border-color);
  interpolate-size: allow-keywords;
  &:not(:last-of-type) {
    border-block-end: none;
  }
  &::details-content {
    transition: 0.2s height, 0.2s content-visibility allow-discrete;
    overflow: clip;
  }
  &:not([open]) {
    --when-open-display: none;
    --when-closed-display: block;
    &::details-content {
      height: 2zu;
    }
  }
  &[open] {
    --when-open-display: block;
    --when-closed-display: none;
    &::details-content {
      height: auto;
    }
  }
}

.heading {
  @include bold-font;
  padding-block-start: 2zu;
  font-size: 4zu;
  color: var(--glob-secondary-heading-text-color);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.angle {
  &[data-when="closed"] {
    display: var(--when-closed-display);
  }
  &[data-when="open"] {
    display: var(--when-open-display);
  }
}

.main {
  padding-block: 6zu;
  padding-inline: 0zu;
  row-gap: 6zu;
  display: flex;
  flex-direction: column;
}