@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --section-border-color: #{leveled-color("primary", 1)};
    --section-heading-background-color: #{leveled-color("primary", 0)};
  }
}

.root {
  display: flex;
  flex-direction: column;
}

.tab-list {
  margin-block-end: 8zu;
}

.part {
  &:not([data-shown]) {
    display: none;
  }
}