@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.heading {
  @include bold-font;
  padding-block-start: 0.5zu;
  padding-inline-end: 2zu;
  font-size: 4zu;
  color: var(--glob-mute-text-color);
  border-inline-end: double 3zx var(--glob-border-color);
  flex: 0 0 auto;
}

.heading-number {
  top: 0zu;
  position: sticky;
  text-align: center;
}

.angle {
  &[data-when="closed"] {
    display: var(--when-closed-display);
  }
  &[data-when="open"] {
    display: var(--when-open-display);
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  &[data-multiple] {
    padding-inline-start: 3zu;
    row-gap: 6zu;
  }
  &:not([data-multiple]) {
    padding-inline-start: 0zu;
    row-gap: 8zu;
    grid-column: 1 / -1;
  }
}