@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  display: flex;
}

.field-list {
  row-gap: 3zu;
  column-gap: 2zu;
  display: grid;
  flex: 1 1 auto;
  @include device("desktop") {
    grid-template-columns: max-content 1fr;
  }
  @include device("mobile") {
    grid-template-columns: 1fr;
  }
}

.field-item {
  grid-column: 1 / -1;
  &:not([data-checkable]) {
    display: grid;
    grid-template-columns: subgrid;
    align-items: baseline;
  }
}

.note {
  font-size: 3zu;
  font-weight: normal;
}

.row {
  column-gap: 2zu;
  display: flex;
  >:nth-child(1) {
    flex: 1 1 auto;
  }
  >:nth-child(2) {
    flex: 0 0 auto;
  }
}

.textarea {
  @supports (field-sizing: content) {
    min-height: 40zu;
    max-height: 100zu;
    >textarea {
      field-sizing: content;
    }
  }
  @supports not (field-sizing: content) {
    height: 40zu;
  }
}

.minus {
  margin-inline-start: 3zu;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 0 0 auto;
}