@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --item-background-color: #{single-color("background-light")};
  }
}

.root {
  display: flex;
  flex-direction: column;
}

.tab-list {
  margin-block-end: 8zu;
}

.part {
  &:not([data-shown]) {
    display: none;
  }
}