@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --text-color: #{leveled-color("primary", 1)};
    --background-color: #{leveled-color("primary", 9)};
  }
}

.root {
  padding-block: 6zu;
  padding-inline: 10zu;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: var(--glob-noise-background-image);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  width: 100%;
  max-width: 200zu;
  @include device("desktop") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  @include device("mobile") {
    row-gap: 2zu;
    column-gap: 2zu;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items: baseline;
    justify-content: center;
  }
}

.item {
  @include device("desktop") {
    row-gap: 2zu;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include device("mobile") {
    display: contents;
  }
}

.count {
  @include bold-font;
  font-size: 10zu;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  @include device("mobile") {
    text-align: end;
  }
}

.label {
  font-size: 4zu;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  text-transform: uppercase;
  @include locale("ja") {
    letter-spacing: 0.3em;
    text-indent: 0.3em;  
  }
}
