@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.top {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.main-outer {
  margin-block-start: 12zu;
  margin-block-end: 16zu;
  padding-inline: var(--glob-page-horizontal-padding);
  flex: 1 1 auto;
}

.main {
  row-gap: 8zu;
  display: flex;
  flex-direction: column;
}

.row {
  @include device("desktop") {
    column-gap: 8zu;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @include device("mobile") {
    row-gap: 8zu;
    display: flex;
    flex-direction: column;
  }
}

.section {
  display: flex;
  flex-direction: column; 
}

.heading {
  @include bold-font;
  margin-block-end: 4zu; 
  font-size: 6zu;
  color: var(--glob-secondary-heading-text-color);
}

.subheading {
  @include bold-font;
  margin-block-end: 3zu; 
  font-size: 5zu;
  color: var(--glob-primary-heading-text-color);
}

.description {
  margin-block-end: 4zu;
  font-size: 3.5zu;
  color: var(--glob-mute-text-color);
}

.message {
  margin-block-end: 3zu;
}

.link {
  margin-block-start: 3zu;
  align-self: flex-start;
}

.adsense {
  width: 100%;
}

.separator {
  border-block-start: 1px solid var(--glob-border-color);
}