@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --logo-text-color: #{leveled-color("primary", 7)};
    --link-text-color: #{leveled-color("primary", 7)};
    --link-hover-text-color: #{leveled-color("primary", 8)};
    --border-color: #{leveled-color("primary", 3)};
    --background-color: #{leveled-color("primary", 0)};
    --stain-color: #{single-color("stain-light", 0.1)};
  }
}

.root {
  height: 12zu;
  padding-inline: var(--glob-page-horizontal-padding);
  inset-block-start: 0zu;
  border-block-end: solid 1zx var(--border-color);
  background-color: var(--background-color);
  background-image: var(--glob-noise-background-image);
  box-shadow: var(--glob-stain-shadow-setting) var(--stain-color);
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1000;
  flex: 0 0 auto;
}

.left {
  column-gap: 6zu;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 6zu;
  color: var(--logo-text-color);
  cursor: pointer;
}

.navigation {
  column-gap: 4zu;
  display: flex;
  align-items: center;
}

.link {
  color: var(--link-text-color);
  &:hover {
    color: var(--link-hover-text-color);
  }
}

.right {
  column-gap: 4zu;
  display: flex;
  align-items: center;
}

.menu {
  column-gap: 4zu;
  display: flex;
}

.avatar {
  font-size: 7zu;
  display: block;
}