@charset "utf-8";

@import "/client/component/mixin.scss";


.root.input {
  display: flex;
  align-items: flex-end;
}

.root.radio {
  display: flex;
  align-items: baseline;
}

.root.input >*:nth-child(1) {
  flex-grow: 1;
}

.root.input >*:nth-child(2) {
  margin: 0px 0px 0px $control-margin;
}

.root.radio >*:nth-child(2) {
  margin: 0px 0px 0px $control-margin;
}