@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  line-height: $line-height;
  display: flex;
  align-items: flex-end;
}

.caution {
  margin: 10px 0px 0px 0px;
  font-size: 90%;
  color: map-get($pane-color, error);
  line-height: $line-height;
  text-align: justify;
}