@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --background-color: #{leveled-color("red", 0)};
    --border-color: #{leveled-color("red", 3)};
    --icon-color: #{leveled-color("red", 5)};
  }
}

.root {
  padding-block: 4zu;
  background-color: var(--background-color);
  border-block-end: solid 1zx var(--border-color);
}

.container {
  column-gap: 4zu;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.content {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 10zu;
  color: var(--icon-color);
}

.button {
  align-self: flex-start;
}
