@charset "utf-8";


*[class~="CodeMirror-selected"] {
  background: rgba($background-color, 0.9) !important;
}

*[class|="cm"] {
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none !important;
}

:global(.cm-s-zpmarkdown .cm-link) {
  color: hsl(200, 70%, 40%);
}

:global(.cm-s-zpmarkdown .cm-url) {
  color: hsl(0, 70%, 40%);
}

:global(.cm-s-zpmarkdown .cm-comment) {
  color: hsl(280, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-string) {
  color: hsl(280, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-variable-1) {
  color: hsl(120, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-variable-2) {
  color: hsl(0, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-operator) {
  color: hsl(30, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-comment) {
  color: hsl(0, 0%, 60%);
}