@charset "utf-8";

@import "/client/component/mixin.scss";


$primary-base-color: hsl(30, 40%, 50%);
$secondary-base-color: hsl(310, 40%, 50%);
$red-base-color: hsl(0, 45%, 50%);
$blue-base-color: hsl(200, 60%, 45%);

body {
  --background-color: #{tint($primary-base-color, 90%)};
  --white-background-color: #{tint($primary-base-color, 98%)};
  --text-color: #{shade($primary-base-color, 60%)};
  --border-color: #{tint($primary-base-color, 50%)};
  --primary-color: #{$primary-base-color};
}