@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,600&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Simonetta:400&display=swap");
@import "/client/component/mixin.scss";


body {
  margin: 0px;
  padding: 0px;
  font-family: $europian-font-family, $japanese-font-family, serif;
  font-size: 18px;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background-color: hsl($primary-hue, 50%, 90%);
  overflow-x: auto;
  overflow-y: scroll;
}