@charset "utf-8";

@use "sass:math" as *;


@function tint($color, $percent) {
  @return mix(white, $color, $percent);
}

@function shade($color, $percent) {
  @return mix(black, $color, $percent);
}

@function line-intrusion($line-height) {
  @return div($line-height - 1, 2) * 1em;
}