@charset "utf-8";


*[class~="CodeMirror"] {
  color: color(text) !important;
}

*[class~="CodeMirror-selected"] {
  background: schemed-color(background, primary) !important;
}

*[class|="cm"] {
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none !important;
}

:global(.cm-s-zpmarkdown .cm-link) {
  color: color(highlight-cyan);
}

:global(.cm-s-zpmarkdown .cm-url) {
  color: color(highlight-red);
}

:global(.cm-s-zpmarkdown .cm-comment) {
  color: color(highlight-purple);
}

:global(.cm-s-zpcddl .cm-keyword),
:global(.cm-s-zpregexp .cm-keyword) {
  color: color(highlight-sky);
}

:global(.cm-s-zpakrantiain .cm-string),
:global(.cm-s-zpbnf .cm-string),
:global(.cm-s-zpcddl .cm-string),
:global(.cm-s-zpregexp .cm-variable-1) {
  color: color(highlight-purple);
}

:global(.cm-s-zpakrantiain .cm-number),
:global(.cm-s-zpcddl .cm-number) {
  color: color(highlight-magenta);
}

:global(.cm-s-zpakrantiain .cm-variable-1),
:global(.cm-s-zpbnf .cm-variable-1),
:global(.cm-s-zpcddl .cm-variable-1) {
  color: color(highlight-green);
}

:global(.cm-s-zpakrantiain .cm-variable-2) {
  color: color(highlight-lime);
}

:global(.cm-s-zpakrantiain .cm-variable-3) {
  color: color(highlight-red);
}

:global(.cm-s-zpakrantiain .cm-operator),
:global(.cm-s-zpbnf .cm-operator),
:global(.cm-s-zpcddl .cm-operator),
:global(.cm-s-zpregexp .cm-operator) {
  color: color(highlight-orange);
}

:global(.cm-s-zpakrantiain .cm-comment),
:global(.cm-s-zpcddl .cm-comment),
:global(.cm-s-zpregexp .cm-bracket) {
  color: color(highlight-gray);
}