@charset "utf-8";


*[class~="CodeMirror-selected"] {
  background: background-color(map-get($colors, information)) !important;
}

*[class|="cm"] {
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none !important;
}

:global(.cm-s-zpmarkdown .cm-link) {
  color: hsl(180, 70%, 40%);
}

:global(.cm-s-zpmarkdown .cm-url) {
  color: hsl(0, 70%, 40%);
}

:global(.cm-s-zpmarkdown .cm-comment) {
  color: hsl(280, 70%, 40%);
}

:global(.cm-s-zpcddl .cm-keyword),
:global(.cm-s-zpregexp .cm-keyword) {
  color: hsl(200, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-string),
:global(.cm-s-zpbnf .cm-string),
:global(.cm-s-zpcddl .cm-string),
:global(.cm-s-zpregexp .cm-variable-1) {
  color: hsl(280, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-number),
:global(.cm-s-zpcddl .cm-number) {
  color: hsl(320, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-variable-1),
:global(.cm-s-zpbnf .cm-variable-1),
:global(.cm-s-zpcddl .cm-variable-1) {
  color: hsl(120, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-variable-2) {
  color: hsl(90, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-variable-3) {
  color: hsl(0, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-operator),
:global(.cm-s-zpbnf .cm-operator),
:global(.cm-s-zpcddl .cm-operator),
:global(.cm-s-zpregexp .cm-operator) {
  color: hsl(30, 70%, 40%);
}

:global(.cm-s-zpakrantiain .cm-comment),
:global(.cm-s-zpcddl .cm-comment),
:global(.cm-s-zpregexp .cm-bracket) {
  color: hsl(0, 0%, 60%);
}