@charset "utf-8";


.login {
  width: 300px;
  margin: 0px;
  padding: 15px 20px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border: 1px hsla(0, 0%, 100%, 0.8) solid;
  border-radius: 6px;
  box-sizing: border-box;
}