@charset "utf-8";


$primary-hue: 30;
$secondary-hue: 320;

$europian-font-family: "EB Garamond", "Times New Roman";
$japanese-font-family: "Yu Mincho", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝";
$special-font-family: "Simonetta";
$icon-font-family: "FontAwesome";

$background-color: hsl($primary-hue, 50%, 92%);
$strong-background-color: hsl($primary-hue, 50%, 82%);

$light-color: hsl($primary-hue, 40%, 50%);
$light-hover-color: lighten(hsla($primary-hue, 40%, 50%, 0.8), 5%);
$light-border-color: hsla($primary-hue, 40%, 50%, 0.8);
$light-box-shadow-color: hsla($primary-hue, 40%, 50%, 0.3);
$pale-border-color: hsla($primary-hue, 40%, 50%, 0.2);
$dark-border-color: rgba(black, 0.3);

$header-background-color: hsl($primary-hue, 40%, 40%);
$logo-color: hsl($primary-hue, 50%, 30%);

$input-box-shadow-color: hsla($primary-hue, 40%, 50%, 0.1);
$input-background: white;

$button-color: white;
$button-background: linear-gradient(to bottom, hsl($primary-hue, 40%, 50%), hsl($primary-hue, 40%, 40%));
$button-hover-background: linear-gradient(to bottom, lighten(hsl($primary-hue, 40%, 50%), 5%), lighten(hsl($primary-hue, 40%, 40%), 5%));
$button-active-background: hsl($primary-hue, 30%, 40%);
$button-active-box-shadow-color: rgba(black, 0.1);

$link-color: hsl($secondary-hue, 40%, 50%);
$link-hover-color: lighten(hsl($secondary-hue, 40%, 50%), 15%);

$pale-link-color: hsl($primary-hue, 50%, 92%);
$pale-link-hover-color: darken(hsl($primary-hue, 50%, 92%), 15%);

$pane-color: (
  normal: inherit,
  error: hsl(0, 40%, 50%),
  information: hsl(220, 40%, 50%)
);
$pane-border-color: (
  normal: rgba(white, 0.8),
  error: hsla(0, 40%, 50%, 0.8),
  information: hsla(220, 40%, 50%, 0.8)
);
$pane-background: (
  normal: rgba(white, 0.5),
  error: hsl(0, 50%, 90%),
  information: hsl(220, 50%, 90%)
);
$pane-hover-background: (
  normal: rgba(white, 0.7)
);

$hover-box-shadow-setting: 0px 0px 0px 2px;
$inset-box-shadow-setting: 0px 2px 3px;

$small-border-radius: 3px;
$large-border-radius: 6px;

$page-width: 800px;
$page-horizontal-margin: 30px;

$line-height: 1.6;


@mixin smartphone {
  @media screen and (max-width: $page-width + $page-horizontal-margin * 2) {
    @content;
  }
}

@mixin page($margin-top) {
  width: $page-width;
  margin: $margin-top auto 50px auto;
  padding: 0px;
  @media screen and (max-width: $page-width + $page-horizontal-margin * 2) {
    width: calc(100% - #{$page-horizontal-margin * 2});
  }
}

@mixin pane($type) {
  color: map-get($pane-color, $type);
  border: 1px map-get($pane-border-color, $type) solid;
  border-radius: $large-border-radius;
  background: map-get($pane-background, $type);
}

@mixin hoverable-pane($type) {
  & {
    border: 1px map-get($pane-border-color, $type) solid;
    border-radius: $large-border-radius;
    background: map-get($pane-background, $type);
  }
  &:hover {
    background: map-get($pane-hover-background, $type);
  }
}

@mixin unordered-list {
  & {
    list-style-type: none;
  }
  & >li {
    margin-left: 1.3em;
    text-align: justify;
  }
  & >li::before {
    font-family: $icon-font-family;
    font-size: 90%;
    width: 1.3em * (100% / 90%);
    margin-left: -1.3em * (100% / 90%);
    content: "\F06A";
    display: inline-block;
  }
}