@charset "utf-8";

@use "/client/component/theme/light.scss";
@use "/client/component/theme/dark.scss";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Simonetta:400&display=swap");
@import "/client/component/mixin.scss";
@import "/client/component/highlight.scss";
@import "/client/component/atom/portal.scss";


*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

html {
  font-size: $root-size;
  --fa-animation-duration: 1s;
  @include small-screen {
    font-size: $root-size * 0.7;
  }
}

body {
  margin: 0rpx;
  padding: 0rpx;
  font-family: $european-font-family, $japanese-font-family, sans-serif;
  font-feature-settings: "palt" 1, "pkna" 1, "lnum" 1;
  color: color(text);
  line-height: 1;
  background-color: color(background);
  overflow-x: auto;
  overflow-y: scroll;
  text-decoration-skip-ink: none;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
html * {
  @include scrollbar(schemed-color(accent, primary), schemed-color(hover-accent, primary), transparent);
}

:focus-visible {
  outline: $focus-size solid color(focus);
}

:global(.grecaptcha-badge) {
  visibility: hidden;
}

:global(#nprogress) {
  pointer-events: none;
}

:global(#nprogress .bar) {
  width: 100%;
  height: 2rpx;
  top: 0rpx;
  left: 0rpx;
  background-color: color(nprogress);
  position: fixed;
  z-index: 10001;
}

:global(#nprogress .peg) {
  display: none;
}