@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


:root {
  --glob-primary-heading-text-color: #{leveled-color("primary", 5)};
  --glob-primary-heading-hover-text-color: #{leveled-color("primary", 6)};
  --glob-secondary-heading-text-color: #{leveled-color("secondary", 5)};
  --glob-secondary-heading-hover-text-color: #{leveled-color("secondary", 6)};
  --glob-red-heading-text-color: #{leveled-color("red", 5)};
  --glob-small-heading-text-color: #{leveled-color("gray", 7)};
  --glob-mute-text-color: #{leveled-color("gray", 5)};
  --glob-border-color: #{leveled-color("gray", 1)};
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-feature-settings: "palt" 1, "pkna" 1, "lnum" 1, "kern" 1, "ss04" 1 !important;
  font-size-adjust: cap-height 0.71;
}

:global(#root) {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

:global(.grecaptcha-badge) {
  visibility: hidden;
}
