@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,600&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Simonetta:400&display=swap");
@import "/client/component/mixin.scss";
@import "/client/component/highlight.scss";
@import "/client/component/atom/portal.scss";


body {
  margin: 0px;
  padding: 0px;
  font-family: $europian-font-family, $japanese-font-family, serif;
  font-size: $font-size;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  background-color: $background-color;
  overflow-x: auto;
  overflow-y: scroll;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:global(.grecaptcha-badge) {
  visibility: hidden;
}