@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,700&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese");



body {
  margin: 0px;
  padding: 0px;
  font-family: "EB Garamond", "Times New Roman", "BIZ UDPMincho", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", serif;
  font-size: 18px;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1.5;
  background-color: hsl(30, 50%, 90%);
}

.top-page {
}

.top-page .logo-wrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}