@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.right {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 0 0 auto;
}

.tag {
  margin-block-end: 2zu;
  column-gap: 2zu;
  display: flex;
  align-items: center;
}

.secret {
  font-size: 3zu;
  color: var(--glob-mute-text-color);
}

.secret-icon {
  margin-inline-end: var(--glob-blank-gap);
}

.name {
  @include bold-font;
  font-size: 5zu;
  color: var(--glob-primary-heading-text-color);
  align-self: flex-start;
  &:hover {
    color: var(--glob-primary-heading-hover-text-color);
  }
}

.user {
  margin-block-start: 2zu;
  display: flex;
  align-items: center;
}

.avatar {
  margin-inline-end: var(--glob-blank-gap);
}

.icon {
  margin-inline-end: var(--glob-blank-gap);
}

.table {
  margin-block-start: 2zu;
  row-gap: 1zu;
  font-size: 3zu;
  color: var(--glob-mute-text-color);
  display: grid;
  grid-template-columns: repeat(2, max-content);
}

.table-value {
  &::before {
    margin-inline: var(--glob-blank-gap);
    content: "—";
  }
}

.count {
  color: var(--glob-mute-text-color);
}

.footer {
  column-gap: 3zu;
  display: flex;
}