@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  row-gap: 8zu;
  display: flex;
  flex-direction: column;
}

.heading {
  @include bold-font;
  margin-block-end: 3zu;
  font-size: 5zu;
  color: var(--glob-primary-heading-text-color);
}

.description {
  margin-block-end: 4zu;
  font-size: 3.5zu;
  color: var(--glob-mute-text-color);
}

.list-container {
  row-gap: 4zu;
  display: flex;
  flex-direction: column;
}