@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  align-items: baseline;
}

.root >*:nth-child(2) {
  margin: 0px 0px 0px $control-horizontal-margin;
}

.caution {
  @include line-height;
  margin: 20px 0px 0px 0px;
  font-size: 90%;
  color: map-get($colors, error);
  text-align: justify;
}