@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.row {
  column-gap: 3zu;
  display: flex;
  align-items: flex-end;
  >:nth-child(1) {
    flex: 1 1 auto;
  }
  >:nth-child(2) {
    flex: 0 0 auto;
  }
}

.radio-group {
  column-gap: 4zu;
  display: flex;
  align-items: center;
  &[data-vertical] {
    flex-direction: column;
    align-items: flex-start;
    &:not([data-vertical="wide"]) {
      row-gap: 2zu;
    }
    &[data-vertical="wide"] {
      row-gap: 2.5zu;
    }
  }
  &[data-mobile-vertical] {
    &:not([data-vertical="wide"]) {
      row-gap: 2zu;
    }
    &[data-vertical="wide"] {
      row-gap: 2.5zu;
    }
    @include device("mobile") {
      flex-direction: column;
      align-items: flex-start;    
    }
  }
}

.input {
  align-items: baseline;
}

.textarea {
  height: 64zu;
}

.label {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;  
}

.label-icon {
  margin-inline-end: var(--glob-blank-gap);
}

.label-helper {
  font-size: 3.5zu;
  color: var(--glob-mute-text-color);
}

.button {
  column-gap: 4zu;
  display: flex;
  align-items: center;
}

.dialog-heading {
  @include bold-font;
  margin-block-end: 6zu;
  font-size: 6zu;
  color: var(--glob-secondary-heading-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-control {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.dialog-button {
  margin-block-start: 4zu;
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
  align-items: center;
}