@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --block-background-color: #{leveled-color("gray", 0)};
  }
}

.root {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.row {
  column-gap: 3zu;
  display: flex;
  align-items: flex-end;
  >:nth-child(1) {
    flex: 1 1 auto;
  }
  >:nth-child(2) {
    flex: 0 0 auto;
  }
}

.radio-group {
  column-gap: 4zu;
  display: flex;
  align-items: center;
}

.card-group {
  column-gap: 2.5zu;
  row-gap: 2.5zu;
  display: grid;
  @include device("desktop") {
    grid-template-columns: repeat(auto-fit, minmax(64zu, 1fr));
  }
  @include device("mobile") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
}

.card-body {
  row-gap: 2.5zu;
  display: flex;
  flex-direction: column;
}

.input {
  align-items: baseline;
}

.textarea {
  height: 64zu;
}

.label {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;  
}

.label-icon {
  margin-inline-end: var(--glob-blank-gap);
}

.label-helper {
  font-size: 3.5zu;
  color: var(--glob-mute-text-color);
}

.button {
  column-gap: 4zu;
  display: flex;
  align-items: center;
}

.dialog-heading {
  @include bold-font;
  margin-block-end: 6zu;
  font-size: 6zu;
  color: var(--glob-secondary-heading-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-control {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.dialog-button {
  margin-block-start: 4zu;
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code {
  padding-inline: 0.5zu;
  font-size: 3zu;
  font-family: var(--glob-font-family-monospace);
  font-feature-settings: "palt" 0, "pkna" 0, "lnum" 0, "kern" 0 !important;
  white-space: pre;
  text-autospace: no-autospace;
  background-color: var(--block-background-color);
  border-radius: var(--glob-border-radius);
  display: inline;
}