@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  align-items: flex-end;
}

.caution {
  @include line-height;
  margin-block-end: $large-margin;
  font-size: $small-font-size;
  color: schemed-color(accent, red);
}