@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  align-items: flex-end;
}

.caution {
  @include line-height;
  margin: $large-margin 0rpx 0rpx 0rpx;
  font-size: $small-font-size;
  color: map-get($colors, error);
  text-align: justify;
}