@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.main {
  font-size: 12zu;
  color: var(--glob-mute-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}