@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.main {
  column-gap: 10zu;
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.form {
  inset-block-start: calc(24zu + 1zx);
  position: sticky;
}