@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.main {
  column-gap: 10zu;
  display: grid;
  grid-template-columns: minmax(112zu, 2fr) 5fr;
}

.left {
  row-gap: 6zu;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  inset-block-start: calc(24zu + 1zx);
  position: sticky;
}