@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  row-gap: 6zu;
  display: flex;
  flex-direction: column;
}

.column {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.textarea-source {
  height: 64zu;
}

.textarea-error {
  height: 32zu;
}