@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 3zu;
  color: var(--glob-mute-text-color);
}

.comment {
  font-size: 3.5zu;
}

.footer {
  column-gap: 3zu;
  display: flex;
}