@charset "utf-8";

@import "/client/component/mixin.scss";


.title {
  margin: 0u 0u $huge-margin 0u;
  font-size: 150%;
  font-weight: bold;
  color: $light-color;
  text-align: center;
}

.explanation {
  width: 100%;
  max-width: 1200u;
  margin: 0u auto $large-margin auto;
  font-size: 90%;
}

.explanation p {
  @include reset-first-margin;
  @include line-height;
  margin: $paragraph-margin 0u 0u 0u;
  text-align: justify;
}

.form {
  width: 100%;
  max-width: 1200u;
  margin: 0u auto;
}