@charset "utf-8";

@import "/client/component/mixin.scss";


.normal {
  @include smartphone {
    display: none;
  }
}

.smartphone {
  display: none;
  @include smartphone {
    display: block;
  }
}