@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.row {
  @include reset-first-margin;
  margin: $small-margin 0u 0u 0u;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}