@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  height: $footer-height;
  z-index: 100;
}

.container {
  @include header-container;
  font-size: 70%;
  color: $footer-color;
  line-height: 1;
  border-top: 3u border-color($footer-color) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container a,
.container .link {
  color: $footer-color;
  text-decoration: underline;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copyright {
  @include line-height($tooltip-line-height);
}

.right {
  margin: 0u 0u 0u $huge-margin;
  text-align: right;
}