@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.heading {
  @include bold-font;
  margin-block-end: 3zu;
  font-size: 5zu;
  color: var(--glob-primary-heading-text-color);
}

.control {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.textarea {
  @supports (field-sizing: content) {
    min-height: 24zu;
    max-height: 100zu;
    >textarea {
      field-sizing: content;
    }
  }
  @supports not (field-sizing: content) {
    height: 24zu;
  }
}

.textarea-supplement {
  @supports (field-sizing: content) {
    min-height: 32zu;
    max-height: 100zu;
    >textarea {
      field-sizing: content;
    }
  }
  @supports not (field-sizing: content) {
    height: 32zu;
  }
}