@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  display: flex;
  flex-direction: column;
}

.parallel {
  column-gap: 3zu;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer {
  column-gap: 3zu;
  display: flex;
}