@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.heading {
  @include bold-font;
  margin-block-end: 4zu; 
  font-size: 6zu;
  color: var(--glob-secondary-heading-text-color);
}

.explanation {
  margin-block-end: 3zu; 
  display: flex;
  flex-direction: column;
}

.disclaimer {
  margin-block-end: 4zu; 
  display: flex;
  flex-direction: column;
}