@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  column-gap: 0.42em;
  display: flex;
  align-items: center;
}

.symbol {
  height: 1em;
  flex: 0 0 auto;
}

.logo {
  height: 0.96em;
  margin-block-end: -0.21em;
  flex: 0 0 auto;
}