@charset "utf-8";

@use "/client/component/function.scss" as *;
@use "/client/component/color.scss" as *;


$primary-base-color: hsl(30, 40%, 70%);
$secondary-base-color: hsl(310, 35%, 70%);
$red-base-color: hsl(0, 35%, 70%);
$blue-base-color: hsl(200, 40%, 70%);

$colors: (
  background: shade($primary-base-color, 80%),
  strong-background: shade($primary-base-color, 65%),
  modal-background: rgba(black, 0.5),
  white-background: shade($primary-base-color, 85%),
  input-background: shade($primary-base-color, 90%),
  text: tint($primary-base-color, 50%),
  footer-text: $primary-base-color,
  accent: $primary-base-color,
  nprogress: $primary-base-color,
  logo: tint($primary-base-color, 40%),
  border: shade($primary-base-color, 50%),
  light-border: shade($primary-base-color, 75%),
  focus: rgba($primary-base-color, 0.3),
  highlight-red: hsl(0, 60%, 75%),
  highlight-orange: hsl(30, 60%, 75%),
  highlight-lime: hsl(90, 60%, 75%),
  highlight-green: hsl(120, 60%, 75%),
  highlight-cyan: hsl(170, 60%, 75%),
  highlight-sky: hsl(200, 60%, 75%),
  highlight-purple: hsl(270, 60%, 75%),
  highlight-magenta: hsl(320, 60%, 75%),
  highlight-gray: hsl(0, 0%, 40%),
  chart-sky: hsl(200, 50%, 65%),
  chart-green: hsl(120, 35%, 70%),
  chart-purple: hsl(270, 25%, 70%),
  chart-yellow: hsl(60, 35%, 70%),
  chart-magenta: hsl(320, 20%, 70%),
);

$schemed-colors: (
  accent: (
    primary: $primary-base-color,
    secondary: $secondary-base-color,
    red: $red-base-color,
    blue: $blue-base-color,
    white: inherit
  ),
  hover-accent: (
    primary: shade($primary-base-color, 30%),
    secondary: shade($secondary-base-color, 30%),
    red: shade($red-base-color, 30%),
    blue: shade($blue-base-color, 30%)
  ),
  border: (
    primary: shade($primary-base-color, 50%),
    red: shade($red-base-color, 50%),
    blue: shade($blue-base-color, 50%),
    white: shade($primary-base-color, 93%),
  ),
  background: (
    primary: shade($primary-base-color, 75%),
    red: shade($red-base-color, 75%),
    blue: shade($blue-base-color, 75%),
    white: shade($primary-base-color, 85%),
  ),
  hover-background: (
    primary: shade($primary-base-color, 80%),
    red: shade($red-base-color, 80%),
    blue: shade($blue-base-color, 80%),
    white: shade($primary-base-color, 88%),
  ),
  input-shadow: (
    primary: rgba(black, 1),
    red: rgba(black, 1),
    blue: rgba(black, 1),
  ),
  button-text: (
    primary: shade($primary-base-color, 90%),
    red: shade($red-base-color, 90%),
    blue: shade($blue-base-color, 90%)
  ),
  button-border: (
    primary: rgba(white, 0.3),
    red: rgba(white, 0.3),
    blue: rgba(white, 0.3)
  ),
  button-background: (
    primary: $primary-base-color,
    red: $red-base-color,
    blue: $blue-base-color
  ),
  hover-button-background: (
    primary: shade($primary-base-color, 10%),
    red: shade($red-base-color, 10%),
    blue: shade($blue-base-color, 10%)
  ),
  active-button-background: (
    primary: shade($primary-base-color, 30%),
    red: shade($red-base-color, 30%),
    blue: shade($blue-base-color, 30%)
  ),
  button-gradient: (
    primary: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.25)),
    red: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.25)),
    blue: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.25)),
  ),
  active-button-shadow: (
    primary: rgba(black, 0.1),
    red: rgba(black, 0.1),
    blue: rgba(black, 0.1)
  ),
  light-button-text: (
    primary: $primary-base-color,
    red: $red-base-color,
    blue: $blue-base-color
  ),
  light-button-background: (
    primary: shade($primary-base-color, 80%),
    red: shade($red-base-color, 80%),
    blue: shade($blue-base-color, 80%)
  ),
  hover-light-button-background: (
    primary: shade($primary-base-color, 75%),
    red: shade($red-base-color, 75%),
    blue: shade($blue-base-color, 75%)
  ),
  active-light-button-background: (
    primary: shade($primary-base-color, 80%),
    red: shade($red-base-color, 80%),
    blue: shade($blue-base-color, 80%)
  ),
  light-button-gradient: (
    primary: linear-gradient(to bottom, rgba($primary-base-color, 0.2), rgba(black, 0)),
    red: linear-gradient(to bottom, rgba($red-base-color, 0.2), rgba(black, 0)),
    blue: linear-gradient(to bottom, rgba($blue-base-color, 0.2), rgba(black, 0))
  ),
  active-light-button-shadow: (
    primary: rgba($primary-base-color, 0.1),
    red: rgba($red-base-color, 0.1),
    blue: rgba($blue-base-color, 0.1)
  ),
  focus: (
    primary: rgba($primary-base-color, 0.3),
    secondary: rgba($secondary-base-color, 0.3),
    red: rgba($red-base-color, 0.3),
    blue: rgba($blue-base-color, 0.3)
  )
);


html[data-theme="dark"],
html:global(.theme-dark) {
  @include color-variables($colors, $schemed-colors);
  --badge-background-color: #{color(accent)};
  color-scheme: dark;
}