@charset "utf-8";

@import "/client/component/mixin.scss";


.search-form {
  width: 100%;
  max-width: $page-width * 0.75;
  margin: 0rpx auto $huge-margin auto;
}

.suggestion-list {
  margin: 0rpx 0rpx $large-margin 0rpx;
}

.pagination {
  margin: $large-margin 0rpx 0rpx 0rpx;
  text-align: center;
}