@charset "utf-8";

@import "/client/component/mixin.scss";


.icon {
  @include icon-font;
  margin: 0rpx 0rpx $huge-margin 0rpx;
  font-size: 300%;
  color: $light-color;
  text-align: center;
}

.description {
  @include line-height;
  margin: 0rpx;
  text-align: justify;
}

.message {
  @include monospace-font;
  margin: $paragraph-margin 0rpx 0rpx 0rpx;
  padding: $box-vertical-padding $box-horizontal-padding;
  line-height: $line-height;
  background-color: $strong-background-color;
  border-radius: $small-border-radius;
  overflow: hidden;
}

.button {
  margin: $large-margin 0rpx 0rpx 0rpx;
  text-align: center;
}