@charset "utf-8";

@import "/client/component/mixin.scss";
@import "/client/component/common.scss";


.login-page {
  margin: 130px 0px 50px 0px;
}

.login-page .description {
  margin: 0px 0px 20px 0px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.login-page .login-form {
  width: 350px;
  margin: 0px auto;
}