@charset "utf-8";

@import "/client/component/mixin.scss";


.description {
  margin: 0px 0px 20px 0px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
}