@charset "utf-8";

@import "/client/component/mixin.scss";


.description {
  margin: 0px 0px 30px 0px;
  font-size: 22px;
  font-weight: bold;
  color: $light-color;
  text-align: center;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 0px auto;
}