@charset "utf-8";

@import "/client/component/mixin.scss";


.title {
  @include bold-font;
  margin: 0rpx 0rpx $huge-margin 0rpx;
  font-size: $huge-font-size;
  color: $light-color;
  text-align: center;
}

.explanation {
  width: 100%;
  max-width: 400rpx;
  margin: 0rpx auto $large-margin auto;
  font-size: $small-font-size;
}

.explanation p {
  @include reset-first-margin;
  @include line-height;
  margin: $paragraph-margin 0rpx 0rpx 0rpx;
  text-align: justify;
}

.form-container {
  width: 100%;
  max-width: 400rpx;
  margin: 0rpx auto;
}