@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.spacer {
  @include page(150u);
  flex: 1;
}

.spacer.dictionary {
  @include page(300u);
}

.content {
  width: 100%;
  max-width: $page-width;
  margin: 0px auto;
}