@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.spacer {
  padding-block-start: $page-top-margin;
  padding-block-end: $page-bottom-margin;
  padding-inline: $page-horizontal-margin;
  flex: 1;
}

.content {
  width: 100%;
  max-width: $page-width;
  margin: 0rpx auto;
}