@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.spacer {
  @include page($header-height);
  flex: 1;
  &[data-show-dictionary] {
    @include page($header-height + $dictionary-header-height);
  }
}

.content {
  width: 100%;
  max-width: $page-width;
  margin: 0rpx auto;
}