@charset "utf-8";

@import "/client/component/mixin.scss";


$logo-horizontal-margin: 300u;
$github-horizontal-margin: 150u;
$top-content-vertical-margin: 150u;

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include smartphone {
    flex-direction: column;
  }
}

.logo {
  margin: 0rpx $logo-horizontal-margin 0rpx 0rpx;
  @include smartphone {
    margin: 0rpx;
  }
}

.login-form-wrapper {
  flex-grow: 1;
  @include smartphone {
    width: 100%;
    max-width: $page-width / 2;
    margin: $huge-margin 0rpx 0rpx 0rpx;
  }
}

.login-form-wrapper >* >* {
  position: relative;
}

.dashboard-button-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0rpx;
  bottom: 0rpx;
  left: 0rpx;
  right: 0rpx;
  @include smartphone {
    position: relative;
  }
}

.login-form.hidden,
.dashboard-button-form.hidden {
  visibility: hidden;
  @include smartphone {
    display: none;
  }
}

.border {
  border-top: 1rpx $invert-border-color solid;
  margin: $huge-margin auto 0rpx auto;
  padding: $huge-margin 0rpx 0rpx 0rpx;
}

.aggregation {
  margin: $top-content-vertical-margin auto 0rpx auto;
}

.notification >div >div >div {
  margin: 0rpx !important;
  padding: 0rpx !important;
  border: none !important;
}

.github-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.github-inner >*:nth-child(1) {
  margin: 0rpx $github-horizontal-margin 0rpx 0rpx;
}

.gift {
  margin: $large-margin 0rpx 0rpx 0rpx;
}