@charset "utf-8";

@import "/client/component/mixin.scss";


.logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include smartphone {
    flex-direction: column;
  }
}

.logo {
  margin: 0px 100px 0px 0px;
  @include smartphone {
    margin: 0px;
  }
}

.login-form {
  width: 350px;
  @include smartphone {
    width: 100%;
    max-width: 400px;
    margin: 30px 0px 0px 0px;
  }
}

.border {
  border-top: 1px $pale-border-color solid;
  margin: 30px auto 0px auto;
  padding: 30px 0px 0px 0px;
}

.aggregation {
  margin: 50px auto 0px auto;
}

.notification >div >div >div {
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
}

.github-inner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.github-inner >*:nth-child(1) {
  margin: 0px 50px 0px 0px;
}

.gift {
  margin: 20px 0px 0px 0px;
}