@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin-block-start: 2zu;
}

.footer {
  column-gap: 3zu;
  display: flex;
}