@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --logo-text-color: #{leveled-color("primary", 1)};
    --catch-text-color: #{leveled-color("primary", 2)};
    --button-border-color: #{leveled-color("secondary", 9)};
    --button-box-shadow-color: #{leveled-color("secondary", 9, 0.3)};
    --link-text-color: #{leveled-color("secondary", 1)};
    --link-hover-text-color: #{leveled-color("secondary", 2)};
    --decoration-text-color: #{leveled-color("primary", 9, 0.3)};
    --background-color: #{leveled-color("primary", 8)};
    --stain-color: #{single-color("black", 0.1)};
  }
  @include device("desktop") {
    --logo-font-size: 32zu;
    --catch-font-size: 7zu;
  }
  @include device("mobile") {
    --logo-font-size: 20zu;
    --catch-font-size: 6zu;
  }
}

.root {
  padding-block: 16zu;
  padding-inline: 10zu;
  background-color: var(--background-color);
  background-image: var(--glob-noise-background-image);
  box-shadow: var(--glob-stain-shadow-setting) var(--stain-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.logo {
  font-size: var(--logo-font-size);
  color: var(--logo-text-color);
  z-index: 1;
}

.catch {
  margin-block-start: 12zu;
  font-size: var(--catch-font-size);
  letter-spacing: 0.15em;
  text-indent: 0.15em;
  color: var(--catch-text-color);
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.button-group {
  margin-block-start: 12zu;
  row-gap: 4zu;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.button {
  min-width: 64zu;
  padding-block: 3zu;
  padding-inline: 4zu;
  font-size: 5zu;
  border-color: var(--button-border-color) !important;
  box-shadow: var(--box-shadow-setting) var(--button-box-shadow-color);
}

.link {
  font-size: 5zu;
  color: var(--link-text-color);
  &:hover {
    color: var(--link-hover-text-color) !important;
    text-decoration-color: var(--link-hover-text-color) !important;
  }
}

.decoration {
  inset-block-start: 50%;
  inset-inline-start: 50%;
  width: 120%;
  height: 300%;
  font-size: 6zu;
  line-height: 1.3;
  color: var(--decoration-text-color);
  transform: translate(-50%, -50%) rotate(-20deg);
  z-index: 0;
  position: absolute;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}