@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --heading-text-color: #{leveled-color("gray", 7)};
  }
}

.root {
  margin-block-start: 3zu;
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.heading {
  @include bold-font;
  margin-block-end: 2zu;
  font-size: 3.5zu;
  color: var(--heading-text-color);
}

.text {
  white-space: pre-line;
}