@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --information-heading-text-color: #{leveled-color("gray", 7)};
    --divider-color: #{leveled-color("gray", 1)};
  }
}

.body {
  display: flex;
  flex-direction: column;
}

.divider {
  margin-block-start: 3zu;
  border-block-start: dashed 1zx var(--divider-color);
}

.footer {
  column-gap: 3zu;
  display: flex;
}