@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  @include color-pane(map-get($colors, error));
  padding: $medium-margin $medium-margin;
  display: flex;
  align-items: flex-end;
}

.caution {
  @include line-height;
  text-align: justify;
}

.button-container {
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
}