@charset "utf-8";

@import "/client/component/mixin.scss";


.inner,
.plus {
  @include reset-first-margin;
  margin: 8px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  @include smartphone {
    flex-direction: column;
    align-items: stretch;
  }
}

.plus {
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex: 1;
}

.form >* {
  @include reset-first-margin;
  margin: 0px 0px 0px 10px;
}

.form >:nth-child(1),
.form >:nth-child(4) {
  width: 110px;
  flex-basis: 110px;
}

.form >:nth-child(2) {
  flex: 1;
}

.form >:nth-child(3) {
  flex: 2;
}

.button {
  margin: 0px 0px 0px 10px;
  @include smartphone {
    margin: 8px 0px 0px 0px;
    align-self: flex-end;
  }
}