@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.root >* {
  @include reset-first-margin;
  margin: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.source >:nth-child(2) *[class~="CodeMirror-scroll"] {
  min-height: 300px;
}

.error-message >:nth-child(2) *[class~="CodeMirror-scroll"] {
  min-height: 150px;
}