@charset "utf-8";

@import "/client/component/mixin.scss";


.name {
  @include unordered-list-item("\F0DA", $light-color, 0.4em);
}

.comment {
  @include line-height($tooltip-line-height);
  margin: $small-margin 0rpx 0rpx 0rpx;
  font-size: $tiny-font-size;
  text-align: justify;
}

.button {
  margin: $small-margin 0rpx 0rpx 0rpx;
  text-align: right;
}

.button >* {
  @include reset-first-margin;
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
}