@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  @include unordered-list-item("\F0DA", $light-color, 0.4em);
}

.comment {
  @include line-height($tooltip-line-height);
  margin: 5px 0px 0px 0px;
  font-size: 80%;
}

.button {
  margin: 10px 0px 0px 0px;
  text-align: right;
}

.button >* {
  @include reset-first-margin;
  margin: 0px 0px 0px $control-margin;
}