@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.root >* {
  @include reset-first-margin;
  margin: $control-vertical-margin 0rpx 0rpx 0rpx;
  display: flex;
  flex-direction: column;
}

.comment {
  height: 900u;
}

.button {
  margin: $large-margin 0rpx 0rpx 0rpx;
  display: block;
  align-self: flex-end;
}