@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: inline-block;
}

.head {
  @include bold-font;
  color: color(accent);
  font-size: $small-font-size;
}

.list {
  margin: $small-margin 0rpx 0rpx 0rpx;
  padding: 0rpx;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: $tiny-margin $large-margin;
  list-style-type: none;
}

.avatar {
  margin: 0em $blank-margin 0em 0em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  vertical-align: -0.4em;
}