@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: inline-block;
}

.head {
  @include bold-font;
  color: $head-color;
  font-size: 80%;
}

.list {
  margin: $small-margin 0rpx 0rpx 0rpx;
  padding: 0rpx;
  list-style-type: none;
}

.item {
  @include reset-first-margin;
  margin: $tiny-margin 0rpx 0rpx 0rpx;
}

.avatar {
  margin: 0em $blank-margin 0em 0em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  vertical-align: -0.4em;
}