@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: inline-block;
}

.head {
  color: $head-color;
  font-size: 80%;
  font-weight: bold;
}

.list {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
}

.item {
  @include reset-first-margin;
  margin: 5px 0px 0px 0px;
}

.avatar {
  margin: 0em $blank-margin 0em 0em;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: -6px;
}