@charset "utf-8";

@import "/client/component/mixin.scss";


.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: $large-margin;
}

.right,
.chart {
  width: 100rpx;
  height: 50rpx;
}

.chart :global(.c3-line) {
  stroke: color(accent) !important;
}

.chart :global(.c3-area) {
  fill: color(accent) !important;
}

.name {
  @include bold-font;
}

.information {
  margin-block-start: $small-margin;
  font-size: $tiny-font-size;
  display: flex;
  flex-direction: column;
  gap: $tiny-margin;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: $control-horizontal-margin;
}