@charset "utf-8";

@import "/client/component/mixin.scss";


.title {
  @include bold-font;
  font-size: $tiny-font-size;
  color: $light-color;
}

.row-wrapper {
  margin: $large-margin 0rpx 0rpx 0rpx;
}

.row {
  @include reset-first-margin;
  margin: $medium-margin 0rpx 0rpx 0rpx;
  display: flex;
}

.item {
  flex: 1;
}

.value-wrapper {
  margin: $tiny-margin 0rpx 0rpx 0rpx;
}

.value {
  font-size: $large-font-size;
}

.unit {
  font-size: $tiny-font-size;
}

.note {
  margin: 0rpx 0rpx 0rpx 24u;
  font-size: $small-font-size;
  color: $light-color;
}