@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $huge-margin;
}

.name {
  @include bold-font;
  font-size: $huge-font-size;
}

.button-container {
  white-space: nowrap;
  display: flex;
  gap: $control-horizontal-margin;
}

.button-container >* {
  display: inline-block;
}

.icon {
  margin-inline-end: $blank-margin;
  color: color(icon);
}