@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.count-wrapper {
  color: $logo-color;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 5px 0px;
  align-items: baseline;
}

.title {
  margin: 0px 30px 0px 0px;
  text-align: right;
}

.count {
  font-size: 48px;
  text-align: right;
}

.slash {
  margin: 0px 5px 0px 5px;
  font-size: 24px;
}

.whole-count {
  font-size: 24px;
  text-align: left;
}