@charset "utf-8";

@import "/client/component/mixin.scss";


.title {
  @include bold-font;
  font-size: $small-font-size;
  color: color(accent);
}

.row-container {
  margin-block-start: $large-margin;
  row-gap: $medium-margin;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.item {
  flex: 1;
}

.value {
  margin-block-start: $tiny-margin;
  font-size: $large-font-size;
}

.unit {
  font-size: $tiny-font-size;
}