@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  height: $dictionary-header-height;
  top: $header-height;
  left: 0u;
  border-bottom: 3u $light-border-color solid;
  background-color: $strong-background-color;
  position: absolute;
  z-index: 80;
}

.container {
  @include header-container;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.right {
  margin: 0u 0u 0u $huge-margin;
}

.name {
  font-weight: bold;
}

.button {
  white-space: nowrap;
}

.button >* {
  @include reset-first-margin;
  margin: 0u 0u 0u $control-horizontal-margin;
  display: inline-block;
}

.icon {
  @include icon-font;
  margin: 0u $blank-margin 0u 0u;
  font-weight: 400;
  color: $light-border-color;
  text-decoration: none;
}