@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  height: 50px;
  top: 70px;
  left: 0px;
  border-bottom: 1px $light-border-color solid;
  background-color: $strong-background-color;
  position: absolute;
  z-index: 80;
}

.container {
  @include header-container;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.right {
  margin: 0px 0px 0px 20px;
}

.name {
  font-weight: bold;
}

.button {
  white-space: nowrap;
}

.button >* {
  margin: 0px 0px 0px 20px;
}

.button >*:first-child {
  margin: 0px;
}