@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  @include hoverable-pane(normal);
  padding: 12px 15px;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button {
  white-space: nowrap;
}

.button >* {
  margin: 0em 0.3em 0em 0em;
}

.name {
  font-weight: bold;
}

.status {
  margin: 0px 0px 0px 15px;
  white-space: nowrap;
}

.information {
  margin: 10px 0px 0px 0px;
  font-size: 80%;
}