@charset "utf-8";

@import "/client/component/mixin.scss";


.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  @include bold-font;
}

.status {
  margin: 0rpx 0rpx 0rpx $large-margin;
  white-space: nowrap;
}

.information {
  margin: $small-margin 0rpx 0rpx 0rpx;
  font-size: $tiny-font-size;
}

.information-item {
  margin: $tiny-margin 0rpx 0rpx 0rpx;
}

.information-item:first-child {
  margin: 0rpx;
}

.setting {
  text-align: right;
}

.setting >* {
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
}

.setting >*:first-child {
  margin: 0rpx;
}