@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  text-align: center;
}

.selection-container {
  margin-block-start: $small-margin;
  display: flex;
  justify-content: center;
  column-gap: $control-horizontal-margin;
}

.order-mode {
  width: 150rpx;
}

.order-direction {
  width: 130rpx;
}

.order-direction-icon {
  margin-inline-end: $blank-margin;
  color: color(accent);
}

.icon {
  margin-inline-end: $input-horizontal-padding;
  color: color(accent);
}