@charset "utf-8";

@import "/client/component/mixin.scss";


.example-container {
  @include line-height;
  text-align: justify;
}

.example {
  @include unordered-list-item("\F0DA", color(accent), 0.4em);
}

.example-separator::before {
  margin: 0em $blank-margin;
  color: color(accent);
  content: "—";
}

.caution {
  @include line-height($tooltip-line-height);
  margin: $small-margin 0rpx 0rpx 0rpx;
  font-size: $tiny-font-size;
  color: schemed-color(accent, red);
}

.button-container {
  margin: $small-margin 0rpx 0rpx 0rpx;
  text-align: right;
}