@charset "utf-8";

@import "/client/component/mixin.scss";


$feature-item-horizontal-margin: 40rpx;

.root {
  display: flex;
  flex-direction: row;
  gap: $feature-item-horizontal-margin;
  @include smartphone {
    flex-direction: column;
    gap: $large-margin;
  }
}

.item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0rpx;
}

.head-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include smartphone {
    flex-direction: row;
    align-items: baseline;
  }
}

.head {
  @include bold-font;
  margin: $small-margin 0rpx 0rpx 0rpx;
  font-size: $large-font-size;
  color: color(head-text);
  text-align: center;
  @include smartphone {
    margin: 0rpx;
    flex-direction: row;
  }
}

.icon {
  @include icon-font;
  font-size: 32rpx;
  color: color(head-text);
  text-align: center;
  @include smartphone {
    margin: 0em $blank-margin 0em 0em;
    font-size: 24rpx;
  }
}

.text {
  @include line-height;
  margin: $medium-margin 0rpx 0rpx 0rpx;
  text-align: justify;
}