@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  height: 50px;
  z-index: 100;
}

.container {
  @include header-container;
  font-size: 70%;
  color: $footer-color;
  line-height: 1;
  border-top: 1px border-color($footer-color) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container a {
  color: $footer-color;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copyright {
}

.right {
  margin: 0px 0px 0px 30px;
  text-align: right;
}