@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  padding-inline: $page-horizontal-margin;
  z-index: 100;
  @include smartphone {
    padding-inline: $page-small-horizontal-margin;
  }
}

.content {
  padding-block: $small-margin;
  font-size: $tiny-font-size;
  color: color(footer-text);
  border-block-start: 1rpx solid color(border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content a,
.content .link {
  color: color(footer-text);
  text-decoration: underline;
  cursor: pointer;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copyright {
  @include line-height($tooltip-line-height);
}

.right {
  margin: 0rpx 0rpx 0rpx $huge-margin;
  text-align: right;
}