@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  padding-inline: $page-horizontal-margin;
  z-index: 100;
  @include smartphone {
    padding-inline: $page-small-horizontal-margin;
  }
}

.content {
  padding-block: $medium-margin;
  font-size: $small-font-size;
  color: color(footer-text);
  border-block-start: 1rpx solid color(border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $huge-margin;
}

.content a,
.content .link {
  color: color(footer-text);
  border-radius: $small-border-radius;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: schemed-color(hover-accent, primary);
  }
}

.copyright {
  @include line-height($tooltip-line-height);
}

.recaptcha {
  margin-block-start: $tiny-margin;
  font-size: $tiny-font-size;
}

.right {
  display: flex;
  gap: $control-horizontal-margin;
}