@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github {
  color: color(accent);
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 40rpx;
  color: color(accent);
  line-height: 0;
}

.star-wrapper {
  height: 36rpx;
  margin: 0rpx 0rpx 0rpx 16rpx;
  padding: 0rpx 10rpx;
  font-size: 24rpx;
  line-height: 34rpx;
  border: 1rpx solid color(border);
  border-radius: $large-border-radius;
  display: inline-block;
  position: relative;
}

.star-wrapper::before {
  top: 10rpx;
  left: -8rpx;
  margin-left: -8rpx;
  border: 8rpx transparent solid;
  border-right: 8rpx color(border) solid;
  position: absolute;
  content: "";
}

.star-wrapper::after {
  top: 10rpx;
  left: -7rpx;
  margin-left: -8rpx;
  border: 8rpx transparent solid;
  border-right: 8rpx color(background) solid;
  position: absolute;
  content: "";
}

.star {
  font-size: 20rpx;
}

.count {
  margin: 0em 0em 0em 0.2em;
}

.text {
  margin: $small-margin 0rpx 0rpx 0rpx;
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;
}

.dashboard {
  margin: $small-margin 0rpx 0rpx 0rpx;
}

.github:hover .text,
.dashboard:hover .text {
  color: $link-hover-color;
}