@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github {
  color: color(accent);
  text-decoration: none;
  border-radius: $small-border-radius;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 40rpx;
  color: color(accent);
  line-height: 0;
}

.star-wrapper {
  height: 36rpx;
  margin: 0rpx 0rpx 0rpx 16rpx;
  padding: 0rpx 10rpx;
  font-size: 24rpx;
  line-height: 34rpx;
  border: 1rpx solid color(border);
  border-radius: $large-border-radius;
  display: inline-block;
  position: relative;
}

.arrow {
  @include arrow(color(background), color(border), 8rpx);
  inset-inline-start: 0rpx;
  inset-block-start: 10rpx;
  position: absolute;
}

.star {
  font-size: 20rpx;
}

.count {
  margin: 0em 0em 0em 0.2em;
}

.text {
  margin: $small-margin 0rpx 0rpx 0rpx;
  color: schemed-color(accent, secondary);
  text-decoration: underline;
  border-radius: $small-border-radius;
  cursor: pointer;
  &:focus-visible {
    outline: $focus-size solid schemed-color(focus, secondary);
  }
}

.dashboard {
  margin: $small-margin 0rpx 0rpx 0rpx;
}

.github:hover .text,
.dashboard:hover .text {
  color: schemed-color(hover-accent, secondary);
}