@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  padding-block: $large-margin;
  padding-inline: $page-horizontal-margin;
  border-block-end: 1rpx solid color(border);
  background-color: color(white-background);
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 100;
  @include smartphone {
    padding-inline: $page-small-horizontal-margin;
  }
}

.content {
  width: 100%;
  max-width: $page-width;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: $special-font-family;
  font-size: 32rpx;
  color: color(accent);
  letter-spacing: 0.1em;
  line-height: 1;
  &[data-small] {
    font-size: $medium-font-size;
  }
}

.dictionary-name {
  @include bold-font;
  margin-block-start: $tiny-margin;
  font-size: $huge-font-size;
}

.right {
  display: flex;
  gap: $control-horizontal-margin;
}

.separator {
  border-right: 1rpx solid color(light-border);
  display: inline;
}

.home-container {
  font-size: 32rpx;
}

.addition {
  margin-block-start: $large-margin;
  padding-block-start: $large-margin;
  border-block-start: 1rpx solid color(light-border);
}