@charset "utf-8";

@use "sass:math" as *;
@import "/client/component/mixin.scss";


.root {
  width: 100%;
  padding-block: $large-margin;
  padding-inline: $page-horizontal-margin;
  border-block-end: 1rpx solid color(border);
  background-color: color(white-background);
  display: flex;
  justify-content: center;
  position: sticky;
  inset-block-start: 0rpx;
  z-index: 100;
  @include smartphone {
    padding-inline: $page-small-horizontal-margin;
  }
}

.content {
  width: 100%;
  max-width: $page-width;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 32rpx;
  margin-block-end: -6rpx;
  path {
    fill: color(accent) !important;
  }
}

.dictionary-name {
  @include bold-font;
  column-gap: $medium-margin;
  font-size: $huge-font-size;
  display: flex;
  align-items: center;
}

.link {
  line-height: 0;
}

.symbol {
  height: 24rpx;
  overflow: inherit;
  path {
    fill: color(accent) !important;
    stroke: color(accent);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;  
  }
}

.right {
  display: flex;
  column-gap: $control-horizontal-margin;
}

.button-container {
  display: flex;
  align-items: center;
  column-gap: $control-horizontal-margin;
}

.separator {
  border-right: 1rpx solid color(light-border);
  display: inline;
}

.home-container {
  font-size: 32rpx;
}

.addition {
  margin-block-start: $large-margin;
  padding-block-start: $large-margin;
  border-block-start: 1rpx solid color(light-border);
}