@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  color: $pale-link-color;
  text-decoration: none;
  display: inline-block;
}

.root:hover {
  color: $pale-link-hover-color;
}

.text {
  @include smartphone {
    display: none;
  }
}

.icon {
  @include icon-font;
  margin: 0rpx $blank-margin 0rpx 0rpx;
}