@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  border-bottom: 1px $dark-border-color solid;
  background-color: $header-background-color;
  position: absolute;
  z-index: 100;
}

.container {
  @include header-container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin: 0px 30px 0px 0px;
  font-family: $special-font-family;
  font-size: 40px;
  color: $background-color;
  line-height: 1;
}

.menu {
  margin: 0px 30px 0px 0px;
}

.menu >* {
  @include reset-first-margin;
  margin: 0px 0px 0px $control-horizontal-margin;
}

.language {
  color: $background-color;
  line-height: 1;
}

.language .icon {
  @include icon-font;
  margin: 0px $blank-margin 0px 0px;
}

.language .link {
  text-decoration: none;
  display: inline-block;
  color: $pale-link-color;
  cursor: pointer;
}

.language .link:hover {
  color: $pale-link-hover-color;
}

.right {
  margin: 0px 0px 0px 30px;
}

.name {
  color: $background-color;
}