@charset "utf-8";

@import "/client/component/mixin.scss";


.information {
  @include line-height;
  margin: 0rpx 0rpx $large-margin 0rpx;
  font-size: $small-font-size;
  text-align: justify;
}

.main {
  display: flex;
  gap: $large-margin;
}

.menu {
  flex-grow: 0;
  flex-shrink: 0;
  >* {
    height: 100%;
  }
}

.table-list {
  @include line-height;
  >.table-wrapper:not(:first-child) {
    margin-left: -100%;
  }
}

.head {
  @include bold-font;
  margin: 0rpx 0rpx $paragraph-margin 0rpx;
  font-size: $tiny-font-size;
  color: $light-color;
}

.table-wrapper {
  width: 100%;
  display: inline-flex;
  gap: $large-margin;
  &.hidden {
    visibility: hidden;
  }
}

.table {
  display: grid;
  grid-template-columns: auto 1fr;
  flex-basis: 0rpx;
  flex-grow: 1;
  flex-shrink: 1;
}

.key-cell,
.description {
  &.top-margin {
    padding-top: calc(#{$paragraph-margin} - #{line-intrusion($line-height)});
  }
  &.disabled {
    opacity: 0.5;
  }
}

.key-cell {
  margin-right: $small-margin;
}

.key {
  margin: 0rpx 7rpx 0rpx 0rpx;
  padding: 0em 0.2em;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  line-height: 1;
  border: 1rpx $light-color solid;
  border-bottom-width: 2rpx;
  border-radius: $small-border-radius;
  display: inline-block;
  position: relative;
}

.key:not(:last-child)::after {
  top: 3rpx;
  right: -10rpx;
  margin-left: -8rpx;
  border: 5rpx transparent solid;
  border-left: 5rpx $light-border-color solid;
  position: absolute;
  content: "";
}

.arrow {
  margin: 0em $blank-margin;
  color: $light-color;
}