@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
}

.menu {
  @include line-height;
  margin: 0rpx $large-margin 0rpx 0rpx;
  padding: 0rpx $large-margin 0rpx 0rpx;
  border-right: 1rpx $invert-border-color solid;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  flex-grow: 1;
}

.content >* {
  width: 100%;
  display: inline-block;
  &:not(:first-child) {
    margin-left: -100%;
  }
}

.head {
  @include bold-font;
  margin: 0rpx 0rpx $paragraph-margin 0rpx;
  font-size: 80%;
  color: $light-color;
}

.table-wrapper {
  @include line-height;
  &.hidden {
    visibility: hidden;
  }
}

.table {
  display: grid;
  grid-template-columns: auto 1fr;
}

.key-cell,
.description {
  &.disabled {
    opacity: 0.5;
  }
}

.key-cell {
  margin-right: $small-margin;
}

.key {
  margin: 0rpx 7rpx 0rpx 0rpx;
  padding: 0em 0.2em;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  line-height: 1;
  border: 1rpx $light-color solid;
  border-bottom-width: 2rpx;
  border-radius: $small-border-radius;
  display: inline-block;
  position: relative;
}

.key:not(:last-child)::after {
  top: 3rpx;
  right: -10rpx;
  margin-left: -8rpx;
  border: 5rpx transparent solid;
  border-left: 5rpx $light-border-color solid;
  position: absolute;
  content: "";
}

.arrow {
  margin: 0em $blank-margin;
  color: $light-color;
}