@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 12px 20px;
  position: relative;
}

.root.error {
  @include color-pane(map-get($colors, error));
}

.root.information {
  @include color-pane(map-get($colors, information));
}

.root.error .list {
  @include unordered-list("\F06A", inherit, 1em);
  @include line-height;
}

.root.information .list {
  @include unordered-list("\F05A", inherit, 1em);
  @include line-height;
}

.root.error .button-box {
  @include color-pane(map-get($colors, error));
}

.root.information .button-box {
  @include color-pane(map-get($colors, information));
}

.root.error .button-box,
.root.information .button-box,
.button {
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
}

.root.error .button >button >span {
  color: map-get($colors, error);
}

.root.information .button >button >span {
  color: map-get($colors, information);
}

.root.error .button:hover >button >span {
  color: hover-color(map-get($colors, error), false);
}

.root.information .button:hover >button >span {
  color: hover-color(map-get($colors, information), false);
}

.overlay {
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}

.root.error .overlay {
  background-color: background-color(map-get($colors, error));
}

.root.information .overlay {
  background-color: background-color(map-get($colors, information));
}