@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  text-align: center;
}

.spinner {
  width: 1em;
  height: 1em;
  font-size: 32rpx;
  color: color(accent);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}