@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.root >* {
  @include reset-first-margin;
  margin: $control-vertical-margin 0px 0px 0px;
}

.button-group {
  margin: $large-margin 0px 0px 0px;
}

.row {
  @include reset-first-margin;
  margin: $small-margin 0px 0px 0px;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row >* {
  @include reset-first-margin;
  margin: 0px 0px 0px $control-horizontal-margin;
}