@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  line-height: $line-height;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.root >* {
  margin: 15px 0px 0px 0px;
}

.root >*:first-child {
  margin: 0px;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-group >* {
  margin: 0px 0px 0px 30px;
}

.button-group >*:first-child {
  margin: 0px;
}