@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  color: color(logo);
  text-align: center;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}

.logo {
  width: 380rpx;
  line-height: 1;
  @include smartphone {
    width: 380rpx * 0.8;
  }
}
