@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Simonetta:400,400i&display=swap");


.logo {
  margin: 0px 100px 0px 0px;
  font-family: "Simonetta";
  color: hsl(30, 50%, 30%);
  line-height: 1;
  text-align: center;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}

.logo .title {
  margin: 0px;
  font-size: 120px;
}

.logo .subtitle {
  margin: -5px -130px 0px 0px;
  font-size: 50px;
  letter-spacing: 0.2em;
}

.logo .version {
  margin: 10px 0px 0px 0px;
  font-size: 30px;
  letter-spacing: 0.05em;
}