@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 0u 0u;
  border-bottom: 3u $light-border-color solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.root >* {
  @include reset-first-margin;
  margin: 0u 0u 0u $control-horizontal-margin;
}