@charset "utf-8";

@import "/client/component/mixin.scss";


$menu-item-vertical-padding: 32u;
$menu-item-horizontal-padding: 48u;

.root {
  padding: 0rpx $menu-item-horizontal-padding $menu-item-vertical-padding $menu-item-horizontal-padding;
  color: $light-color;
  text-decoration: none;
  text-align: right;
  border-bottom: 5rpx transparent solid;
  display: block;
  cursor: pointer;
}

.root:hover {
  border-bottom: 5rpx $light-border-color solid;
}

.root.highlight {
  @include bold-font;
  margin-bottom: -1rpx;
  color: $link-color;
  border-bottom: 6rpx $link-color solid;
}

.text {
  margin: 0rpx 0rpx 0rpx $blank-margin;
  @include smartphone {
    display: none;
  }
}

.icon {
  @include icon-font;
}

.badge {
  margin: 0rpx 0rpx 0rpx $blank-margin;
}