@charset "utf-8";

@import "/client/component/mixin.scss";


$menu-item-vertical-padding: 10rpx;
$menu-item-horizontal-padding: 15rpx;

.root {
  color: color(accent);
  text-decoration: none;
  display: flex;
  cursor: pointer;
  &.horizontal {
    padding: 0rpx $menu-item-horizontal-padding $menu-item-vertical-padding $menu-item-horizontal-padding;
    margin-bottom: -1rpx;
    border-bottom: 6rpx transparent solid;
    &:hover {
      border-bottom: 6rpx solid schemed-color(accent, primary);
    }
    &.highlight {
      border-bottom: 6rpx solid schemed-color(accent, secondary);
    }
  }
  &.vertical {
    padding: 5rpx 0rpx 5rpx 10rpx;
    margin-left: -1rpx;
    border-left: 6rpx transparent solid;
    &:hover {
      border-left: 6rpx solid schemed-color(accent, primary);
    }
    &.highlight {
      border-left: 6rpx solid schemed-color(accent, secondary);
    }
  }
  &.highlight {
    @include bold-font;
    color: schemed-color(accent, secondary);
  }
}

.text {
  margin: 0rpx 0rpx 0rpx $blank-margin;
  display: inline-block;
  text-align: center;
  .vertical & {
    text-align: left;
  }
  @include smartphone {
    display: none;
  }
}

.dummy {
  @include bold-font;
  height: 0rpx;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

.badge {
  margin: 0rpx 0rpx 0rpx $blank-margin;
}