@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 0rpx 0rpx;
  border-bottom: 1rpx $light-border-color solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.root >* {
  @include reset-first-margin;
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
}