@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: $large-margin 0rpx;
  border-bottom: 1rpx $invert-border-color solid;
}

.root:first-child {
  border-top: 1rpx $light-border-color solid;
}

.root:last-child {
  border-bottom: 1rpx $light-border-color solid;
}

.head-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-wrapper .icon {
  font-size: 32rpx;
  color: $head-color;
  text-align: center;
  display: inline-block;
}

.head-right {
  margin: 0rpx 0rpx 0rpx $medium-margin;
}

.date {
  margin: 0rpx;
  font-size: 80%;
  color: $head-color;
}

.head {
  @include bold-font;
  margin: $tiny-margin 0rpx 0rpx 0rpx;
  padding: 0rpx;
  font-size: 120%;
  color: $head-color;
}

.fixed {
  margin: 0em $blank-margin 0em 0em;
  font-size: 80%;
  font-weight: normal;
}

.content {
  margin: $medium-margin 0rpx 0rpx 0rpx;
}