@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 20px 0px;
  border-bottom: 1px $pale-border-color solid;
}

.root:first-child {
  border-top: 1px $light-border-color solid;
}

.root:last-child {
  border-bottom: 1px $light-border-color solid;
}

.head-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-wrapper .icon {
  @include icon-font;
  width: $icon-width;
  font-size: 150%;
  color: $head-color;
  text-align: center;
  display: inline-block;
}

.head-right {
  margin: 0px 0px 0px 10px;
}

.date {
  margin: 0px 0px 5px 0px;
  font-size: 80%;
  color: $head-color;
}

.head {
  margin: 0px;
  padding: 0px;
  font-size: 120%;
  font-weight: bold;
  color: $head-color;
}

.content {
  margin: 15px 0px 0px 0px;
}