@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 15px 0px;
  border-bottom: 1px $pale-border-color solid;
}

.root:first-child {
  border-top: 1px $light-border-color solid;
}

.root:last-child {
  border-bottom: 1px $light-border-color solid;
}

.head-wrapper {
  margin: 5px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.head-wrapper .icon {
  @include icon-font;
  margin: 0px 10px 0px 0px;
  font-size: 150%;
  color: $head-color;
}

.date {
  font-size: 80%;
  color: $head-color;
}

.head {
  margin: 5px 0px 0px 0px;
  padding: 0px;
  font-size: 120%;
  font-weight: bold;
  color: $head-color;
}

.text {
  margin: 10px 0px 0px 0px;
  text-align: justify;
}