@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.count-wrapper {
  color: $logo-color;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: $tiny-margin 0u;
  align-items: baseline;
}

.title {
  margin: 0u $huge-margin 0u 0u;
  text-align: right;
}

.count {
  @include bold-font;
  font-size: 250%;
  letter-spacing: 0.05em;
  text-align: right;
}

.slash {
  margin: 0em 0.2em;
  font-size: 120%;
  display: none;
}

.whole-count {
  @include bold-font;
  font-size: 120%;
  text-align: left;
  display: none;
}