@charset "utf-8";

@import "/client/component/mixin.scss";


$feature-item-horizontal-margin: 40rpx;

.root {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $large-margin $feature-item-horizontal-margin;
  @include smartphone {
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0rpx;
  position: relative;
  z-index: 0;
}

.icon {
  font-size: 80rpx;
  color: $light-color;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  z-index: 1;
}

.icon path {
  fill: none;
  stroke: currentcolor;
  stroke-width: 16;
}

.count-wrapper {
  top: 0rpx;
  bottom: 0rpx;
  left: 0rpx;
  right: 0rpx;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.count {
  @include bold-font;
  font-size: 56rpx;
  letter-spacing: 0.03em;
}

.unit {
  font-size: 120%;
}