@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: row;
}

.leftmost,
.rightmost,
.cemter {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0rpx;
  display: flex;
}

.left,
.right {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0rpx;
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-end;
}

.right {
  justify-content: flex-start;
}

.button >* {
  width: 2.25em;
  padding-left: 0em;
  padding-right: 0em;
}

.icon {
  width: initial;
  margin: 0rpx $small-margin;
  color: $light-color;
}

.desktop {
  @include smartphone {
    display: none;
  }
}

.smartphone {
  display: none;
  @include smartphone {
    display: block;
  }
}