@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  border-radius: $small-border-radius;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.button {
  width: 2em;
  color: color(accent);
  text-align: center;
  cursor: pointer;
  .leftmost &,
  .rightmost & {
    width: auto;
  }
  &:hover:not(:disabled) {
    color: schemed-color(hover-accent, primary);
  }
  &:disabled {
    opacity: $disabled-opacity;
    cursor: inherit;
  }
}

.leftmost,
.rightmost,
.cemter {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0rpx;
  display: flex;
}

.left,
.right {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0rpx;
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-end;
}

.right {
  justify-content: flex-start;
}

.icon-container {
  margin-inline: $small-margin;
  color: color(accent);
}