@charset "utf-8";

@import "/client/component/mixin.scss";


.div-pane {
  display: grid;
  grid-gap: 0rpx $large-margin;
  align-items: start;
}

.div-pane.spaced { 
  grid-gap: $large-margin $large-margin;
}

.table-pane {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table-pane .spacer {
  width: $large-margin;
}

.table-pane .spacer.border {
  border-left: 1rpx $invert-border-color solid;
}

.table-pane tr >td {
  padding: 0rpx;
  vertical-align: top;
}

.table-pane.spaced tr >td {
  padding-top: $large-margin;
}

.table-pane.spaced tr:first-child >td {
  padding-top: 0rpx;
}

.pagination {
  margin: $large-margin 0rpx 0rpx 0rpx;
  text-align: center;
}

.pagination.empty {
  margin: 0rpx;
}