@charset "utf-8";

@import "/client/component/mixin.scss";


.pane {
  display: grid;
  grid-gap: 20px;
}

.pagination {
  margin: 20px 0px 0px 0px;
  text-align: center;
}

.pagination.empty {
  margin: 0px;
}