@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  bottom: $large-margin;
  left: 0rpx;
  width: calc(100% - #{$page-horizontal-margin} * 2);
  margin: 0rpx $page-horizontal-margin;
  position: fixed;
  pointer-events: none;
  z-index: 300;
}

.pane-wrapper {
  width: 100%;
  max-width: $page-width * 3 / 4;
  margin: 0rpx auto $medium-margin auto;
  pointer-events: auto;
}

.pane-wrapper:last-child { 
  margin: 0rpx auto;
}