@charset "utf-8";

@import "/client/component/mixin.scss";
@import "/client/component/compound/akrantiain-executor.scss";


.source >:nth-child(2) *[class~="CodeMirror-scroll"] {
  min-height: 450u;
}

.target >:nth-child(2) *[class~="CodeMirror-scroll"] {
  min-height: 450u;
}

.result-input {
  @include input(primary);
  @include monospace-font;
  padding: $textarea-vertical-padding $input-horizontal-padding;
  display: block;
  white-space: pre;
  flex-grow: 1;
}

.hit {
  color: hsl(0, 70%, 40%);
}

.error-message >:nth-child(2) {
  min-height: 450u;
}