@charset "utf-8";

@import "/client/component/mixin.scss";


.resource {
  @include unordered-list-item("\F0DA", $light-color, 0.4em);
}

.code-outer {
  margin: $small-margin 0rpx 0rpx 0rpx;
}

.code-wrapper {
  display: flex;
  align-items: baseline;
}

.code {
  @include monospace-font;
  margin: 0rpx;
  padding: $box-vertical-padding $box-horizontal-padding;
  line-height: $line-height;
  background-color: color(strong-background);
  border-radius: $small-border-radius;
  overflow: hidden;
  flex-grow: 1;
}

.copy-button {
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
  white-space: nowrap;
}

.button {
  margin: $small-margin 0rpx 0rpx 0rpx;
  text-align: right;
}

.image {
  margin: $small-margin 0rpx 0rpx 0rpx;
  line-height: 0;
}

.image >img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 75rpx;
  line-height: 0;
}