@charset "utf-8";

@import "/client/component/mixin.scss";


.form {
  display: flex;
  align-items: flex-end;
}

.form >*:nth-child(1) {
  flex-grow: 1;
}

.form >*:nth-child(2) {
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
}

.list {
  margin: $large-margin 0rpx 0rpx 0rpx;
}

.caution,
.instruction {
  @include line-height;
  margin: 0rpx 0rpx $large-margin 0rpx;
  font-size: 90%;
  text-align: justify;
}

.caution {
  color: map-get($colors, error);
}