@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  text-align: center;
}

.radio-wrapper {
  margin: $small-margin 0u 0u 0u;
}

.icon {
  margin: 0em $input-horizontal-padding 0em 0em;
}

.icon::before {
  @include icon-font;
  color: $light-color;
  content: "\F002";
}