@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  text-align: center;
}

.radio-wrapper {
  margin: $small-margin 0rpx 0rpx 0rpx;
}

.selection-wrapper {
  margin: $small-margin 0rpx 0rpx 0rpx;
  display: flex;
  justify-content: center;
}

.selection-wrapper >* {
  @include reset-first-margin;
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
}

.order-mode {
  width: 150rpx;
}

.order-direction {
  width: 120rpx;
}

.order-direction-icon {
  margin: 0rpx $blank-margin 0rpx 0rpx;
  color: $light-color;
}

.icon {
  margin: 0em $input-horizontal-padding 0em 0em;
  color: $light-color;
}