@charset "utf-8";

@import "/client/component/mixin.scss";


$setting-pane-vertical-padding: 96u;
$setting-pane-horizontal-padding: 150u;

.root {
  padding: $setting-pane-vertical-padding 0rpx $setting-pane-vertical-padding 0rpx;
  border-bottom: 1rpx $invert-border-color solid; 
  display: flex;
  flex-direction: row;
  @include smartphone {
    flex-direction: column;
  }
}

.root.force-wide {
  flex-direction: column;
}

.root:last-child {
  border-bottom: 1rpx $light-border-color solid;
}

.description-wrapper {
  padding: 0rpx $setting-pane-horizontal-padding 0rpx 0rpx;
  flex-basis: 35%;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  @include smartphone {
    width: 100%;
    padding: 0rpx 0rpx $large-margin 0rpx;
    flex-basis: content;
  }
}

.force-wide .description-wrapper {
  width: 100%;
  padding: 0rpx 0rpx $large-margin 0rpx;
  flex-basis: content;
}

.content {
  flex-basis: 65%;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  @include smartphone {
    width: 100%;
    flex-basis: content;
  }
}

.force-wide .content {
  width: 100%;
  flex-basis: content;
}

.content:first-child {
  flex-basis: 100%;
}

.label {
  @include bold-font;
  color: $head-color;
}

.label >*:nth-child(1) {
  margin: 0em 0em 0em $blank-margin;
}

.description {
  @include line-height;
  margin: $medium-margin 0rpx 0rpx 0rpx;
  font-size: $small-font-size;
  text-align: justify;
}