@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  margin: 0rpx 0rpx 0rpx $small-margin;
}

.image {
  width: 96u;
  height: 96u;
  border: 1rpx color(border) solid;
  border-radius: 50%;
  background-image: linear-gradient(-45deg, transparent 33%, color(border) 33%, color(border) 50%, transparent 50%, transparent 83%, color(border) 83%);
  background-size: 12u 12u;
  box-sizing: border-box;
}

.name {
  margin: 0em 0em 0em $blank-margin;
  font-size: $small-font-size;
}