@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  @include white-pane(false);
  padding: $medium-margin $medium-margin;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
}

.root.hoverable {
  @include white-pane(true);
  cursor: pointer;
}

.separator {
  height: 1rpx;
  margin: $small-margin 0rpx;
  border: none;
  border-top: 1rpx rgba(white, 0.8) solid;
}