@charset "utf-8";

@import "/client/component/mixin.scss";


.word-pane {
  padding: 8px 15px;
  line-height: 1.6;
  border-bottom: 1px hsla($primary-hue, 40%, 50%, 0.8) solid;
}

.word-pane:first-child {
  border-top: 1px hsla($primary-hue, 40%, 50%, 0.8) solid;
}

.word-pane p {
  margin: 0px;
  text-align: justify;
}

.word-pane .box {
  bottom: 0.05em;
  margin: 0em 0.5em 0em 0em;
  padding: 0em 0.2em;
  font-size: 70%;
  border: 1px hsla($primary-hue, 40%, 50%, 0.8) solid;
  border-radius: 3px;
  position: relative;
}

.word-pane .title {
  font-size: 70%;
  color: hsl($primary-hue, 40%, 50%);
}

.word-pane .name {
  font-size: 120%;
  font-weight: bold;
}

.word-pane .container {
  margin: 5px 0px 0px 0px;
}