@charset "utf-8";

@import "/client/component/mixin.scss";


.editor {
  display: flex;
  flex-direction: column;
  row-gap: $paragraph-margin;
}

.head {
  @include bold-font;
  margin-block-end: $paragraph-margin;
  font-size: $small-font-size;
  color: color(accent);
}

.section-content {
  display: flex;
  flex-direction: column;
  row-gap: $small-control-vertical-margin;
}

.section-item {
  display: flex;
  flex-direction: row;
  &[data-dragging] {
    opacity: 0.3;
  }
}

.handle {
  width: 10rpx;
  margin-inline-end: $control-horizontal-margin;
  border-start-start-radius: $small-border-radius;
  border-end-start-radius: $small-border-radius;
  background-color: color(strong-background);
  display: flex;
  align-items: center;
  cursor: move;
}

.handle-icon {
  color: color(accent);
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: $small-control-vertical-margin;
}

.generate-container {
  display: flex;
  align-items: flex-end;
}

.generate-container >:nth-child(1) {
  flex-grow: 1;
}

.text {
  height: 200rpx;
}

.sentence {
  height: 100rpx;
}

.plus {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.absent {
  color: color(accent);
  opacity: $disabled-opacity;
}

.control-button-container {
  margin-inline-start: $small-control-horizontal-margin;
}

.relation-input,
.word-input {
  align-items: flex-end;
}

.relation-input >:nth-child(1),
.word-input >:nth-child(1) {
  flex-grow: 1;
}

.footer {
  margin-block-start: $large-margin;
  display: flex;
  justify-content: space-between;
}

.confirm-button-container {
  display: flex;
  column-gap: $control-horizontal-margin;
}