@charset "utf-8";

@import "/client/component/mixin.scss";


.editor {
  display: flex;
  flex-direction: column;
  gap: $paragraph-margin;
}

.head-name {
  @include bold-font;
  font-size: $large-font-size;
  color: color(accent);
  cursor: pointer;
}

.head-icon {
  margin-right: $small-margin;
  font-size: 16rpx;
}

.head {
  @include bold-font;
  margin: 0rpx 0rpx $paragraph-margin 0rpx;
  font-size: $tiny-font-size;
  color: color(accent);
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: $small-control-vertical-margin;
}

.section-item {
  display: flex;
  flex-direction: row;
  &[data-dragging] {
    opacity: 0.3;
  }
}

.handle {
  width: 10rpx;
  margin: 0rpx $small-margin 0rpx 0rpx;
  border-radius: $small-border-radius 0rpx 0rpx $small-border-radius;
  background-color: color(strong-background);
  display: flex;
  align-items: center;
  cursor: move;
}

.handle-icon {
  color: color(accent);
}

.form-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
}

.form {
  display: grid;
  flex-grow: 1;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: $small-control-vertical-margin 0rpx;
  &.information {
    grid-template-rows: auto 200rpx;
  }
  &.sentence {
    grid-template-rows: 80rpx 80rpx;
  }
}

.form >label {
  display: contents;
}

.generate-container {
  display: flex;
}

.generate-container >:nth-child(1) {
  flex-grow: 1;
}

.title {
  max-width: 200rpx;
}

.text {
  height: 100%;
}

.plus {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.absent {
  color: color(accent);
  opacity: $disabled-opacity;
}

.control-button-container {
  margin: 0rpx 0rpx 0rpx $small-control-horizontal-margin;
}

.relation-input,
.word-input {
  align-items: flex-end;
}

.relation-input >:nth-child(1),
.word-input >:nth-child(1) {
  flex-grow: 1;
}

.footer {
  margin: $large-margin 0rpx 0rpx 0rpx;
  display: flex;
  justify-content: space-between;
}

.confirm-button-container {
  display: flex;
  column-gap: $control-horizontal-margin;
}