@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 15px 0px;
  border-bottom: 1px $pale-border-color solid;
}

.root:first-child {
  border-top: 1px $light-border-color solid;
}

.root:last-child {
  border-bottom: 1px $light-border-color solid;
}

.button {
  margin: 0em $blank-padding 0em 0em;
  line-height: $line-height;
  display: inline-block;
}

.name-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin: -4px 0.5em 0px 0px;
  font-size: 120%;
  font-weight: bold;
  color: $head-color;
  line-height: $line-height;
  display: inline-block;
}

.tag {
  display: inline-block;
}

.text {
  margin: 0px;
  line-height: $line-height;
  text-align: justify;
  white-space: pre-line;
}

.box {
  bottom: 0.1em;
  margin: 0em 0.5em 0em 0em;
  padding: 0em 0.2em;
  font-size: 70%;
  border: 1px $light-border-color solid;
  border-radius: 3px;
  position: relative;
}

.title {
  font-size: 70%;
  color: $light-color;
  display: block;
}

.confer {
  @include icon-font;
  margin: 0em 0.5em 0em 0em;
  color: $light-color;
}

.container {
  margin: 5px 0px 0px 0px;
}