@charset "utf-8";

@import "/client/component/mixin.scss";


.container {
  @include reset-first-margin;
  margin: $large-margin 0rpx 0rpx 0rpx;
  display: flex;
  flex-direction: column;
  gap: $small-control-vertical-margin;
}

.confirm-button-wrapper {
  margin: $large-margin 0rpx 0rpx 0rpx;
  display: flex;
  justify-content: space-between;
}

.confirm-button >* {
  @include reset-first-margin;
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
}

.inner.large {
  margin: $control-vertical-margin 0rpx 0rpx 0rpx;
}

.plus {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.container-item {
  display: flex;
  flex-direction: row;
}

.container-item.dragging {
  opacity: 0.3;
}

.handle {
  width: 10rpx;
  margin: 0rpx $small-margin 0rpx 0rpx;
  border-radius: $small-border-radius 0rpx 0rpx $small-border-radius;
  background-color: $strong-background-color;
  display: flex;
  align-items: center;
  cursor: move;
}

.handle-icon {
  color: $light-color;
}

.form-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
}

.form {
  display: grid;
  flex-grow: 1;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: $small-control-vertical-margin 0rpx;
}

.form >label {
  display: contents;
}

.title {
  max-width: 200rpx;
}

.absent {
  color: $light-color;
}

.form.information {
  height: 600u;
}

.control-button {
  margin: 0rpx 0rpx 0rpx $small-control-horizontal-margin;
  @include smartphone {
    margin: $small-control-vertical-margin 0rpx 0rpx 0rpx;
    align-self: flex-end;
  }
}

.title {
  flex: 1;
  align-self: flex-start;
}

.name {
  flex: 3;
}

.text {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 3;
}

.text >textarea {
  flex-grow: 1;
}

.relation-input,
.word-input {
  align-items: flex-end;
}

.relation-input >*:nth-child(1),
.word-input >*:nth-child(1) {
  flex-grow: 1;
}