@charset "utf-8";

@import "/client/component/mixin.scss";


.search-form {
  width: 100%;
  max-width: $page-width * 3 / 4;
  margin: 0rpx auto $huge-margin auto;
}

.pagination {
  margin: $large-margin 0rpx 0rpx 0rpx;
  text-align: center;
}