@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 20px 0px;
  border-bottom: 1px $pale-border-color solid;
}

.root:first-child {
  border-top: 1px $light-border-color solid;
}

.root:last-child {
  border-bottom: 1px $light-border-color solid;
}

.name-wrapper {
  margin: 0px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  margin: 0em 0.5em 0em 0em;
  font-size: 120%;
  font-weight: bold;
  color: $head-color;
  display: inline-block;
}

.right {
  margin: 0px 0px 0px 20px;
}

.button {
  display: inline-block;
}

.button >* {
  @include reset-first-margin;
  margin: 0px 0px 0px $control-margin;
}

.pronunciation {
  margin: 0em 0.75em 0em 0em;
  color: $head-color;
  font-size: 80%;
  display: inline-block;
}

.tag {
  display: inline-block;
}

.container {
  margin: 15px 0px 0px 0px;
}

.text {
  @include line-height;
  margin: 0px;
  text-align: justify;
  white-space: pre-line;
}

.example {
  @include unordered-list("\F0DA", $light-color, 0.4em);
  @include line-height;
  margin: 0px 0px 0px 2px;
  padding: 0px;
}

.sentence::after {
  @include icon-font;
  margin: 0em 0.3em;
  color: $light-color;
  content: "\F105";
}

.box {
  bottom: 0.1em;
  margin: 0em 0.5em 0em 0em;
  padding: 0em 0.2em;
  font-size: 70%;
  border: 1px $light-border-color solid;
  border-radius: $small-border-radius;
  position: relative;
}

.title {
  margin: 10px 0px 10px 0px;
  font-size: 80%;
  font-weight: bold;
  color: $light-color;
  display: block;
}

.confer {
  @include icon-font;
  margin: 0em 0.5em 0em 0em;
  color: $light-color;
}

.confer::before {
  content: "\F0A4";
}