@charset "utf-8";

@import "/client/component/mixin.scss";


.search-form {
  width: 100%;
  max-width: 600px;
  margin: 0px auto 30px auto;
}

.pagination {
  margin: 20px 0px 0px 0px;
  text-align: center;
}