@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


:root {
  --glob-primary-heading-text-color: #{leveled-color("primary", 5)};
  --glob-secondary-heading-text-color: #{leveled-color("secondary", 5)};
  --glob-mute-text-color: #{leveled-color("gray", 5)};
  --glob-border-color: #{leveled-color("gray", 1)};
}

:global(#root) {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

:global(.grecaptcha-badge) {
  visibility: hidden;
}
