@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.heading {
  @include bold-font;
  margin-block-end: 2zu;
  font-size: 3.5zu;
  color: var(--glob-small-heading-text-color);
}

.list {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
}