@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  column-gap: 3zu;
  padding-block-end: 3zu;
  border-block-end: dashed 1zx var(--glob-border-color);
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.number {
  color: var(--glob-primary-heading-text-color);
  display: flex;
}

.number-icon {
  margin-inline-end: var(--glob-blank-gap);
}

.main {
  column-gap: 2zu;
  row-gap: 1zu;
  font-size: 3zu;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex: 0 0 auto;
}

.date {
  color: var(--glob-mute-text-color);
}