@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  @include theme("light") {
    --information-heading-text-color: #{leveled-color("gray", 7)};
  }
}

.body {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.group {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
}

.footer {
  column-gap: 3zu;
  display: flex;
}