@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.tag {
  row-gap: 1.5zu;
  column-gap: 2zu;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.number {
  font-size: 3zu;
  color: var(--glob-mute-text-color);
  display: flex;
  align-items: center;
}

.number-icon {
  margin-inline-end: var(--glob-blank-gap);
}

.name-container {
  column-gap: 2zu;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.name {
  @include bold-font;
  font-size: 6zu;
  color: var(--glob-primary-heading-text-color);
  overflow-wrap: break-word;
}

.small-name {
  @include bold-font;
  font-size: 4zu;
  color: var(--glob-primary-heading-text-color);
  overflow-wrap: break-word;
}

.pronunciation {
  font-size: 3.5zu;
  color: var(--glob-mute-text-color);
}