@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.item {
  column-gap: var(--glob-blank-gap);
  display: flex;
  align-items: baseline;
}

.icon {
  color: var(--glob-mute-text-color);
  flex: 0 0 auto;
}

.text {
  flex: 1 1 auto;
}

.tag {
  margin-inline-end: 2zu;
  inset-block-end: 0.1em;
  line-height: 1;
  display: inline-block;
  position: relative;
}