@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.empty {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
}

.pagination {
  margin-block-start: 3zu;
}