@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.icon {
  color: var(--glob-mute-text-color);
  flex: 0 0 auto;
}

.text {
  flex: 1 1 auto;
}

.separator {
  color: var(--glob-mute-text-color);
}