@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.root {
  row-gap: 2zu;
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 3.5zu;
  display: flex;
  align-items: center;
}

.number-icon {
  margin-inline-end: var(--glob-blank-gap);
}

.table {
  row-gap: 1zu;
  font-size: 3zu;
  color: var(--glob-mute-text-color);
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-items: flex-start;
}

.table-value {
  &::before {
    margin-inline: var(--glob-blank-gap);
    content: "—";
  }
} 