@charset "utf-8";

@use "zographia/source/component/function.scss" as *;


.body {
  row-gap: 3zu;
  display: flex;
  flex-direction: column;
}

.tag {
  row-gap: 1.5zu;
  column-gap: 2zu;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.number {
  font-size: 3zu;
  color: var(--glob-mute-text-color);
  display: flex;
  align-items: center;
}

.number-icon {
  margin-inline-end: var(--glob-blank-gap);
}

.parallel {
  column-gap: 3zu;
  row-gap: 3zu;
  display: grid;
  @include device("desktop") {
    grid-template-columns: repeat(2, 1fr);
  }
  @include device("movile") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.supplement {
  font-size: 3.5zu;
  color: var(--glob-mute-text-color);
}

.word {
  column-gap: var(--glob-blank-gap);
  display: flex;
  align-items: baseline;
}

.icon {
  color: var(--glob-mute-text-color);
  flex: 0 0 auto;
}

.text {
  flex: 1 1 auto;
}

.punctuation {
  color: var(--glob-mute-text-color);
}

.absent {
  color: var(--glob-mute-text-color); 
}

.footer {
  column-gap: 3zu;
  display: flex;
}