@charset "utf-8";

@use "/client/component/function.scss" as *;
@use "/client/component/color.scss" as *;


$primary-base-color: hsl(30, 40%, 50%);
$secondary-base-color: hsl(310, 40%, 50%);
$red-base-color: hsl(0, 45%, 50%);
$blue-base-color: hsl(200, 60%, 45%);

$colors: (
  background: tint($primary-base-color, 90%),
  strong-background: tint($primary-base-color, 75%),
  white-background: tint($primary-base-color, 98%),
  input-background: white,
  text: shade($primary-base-color, 60%),
  footer-text: $primary-base-color,
  accent: $primary-base-color,
  link: $secondary-base-color,
  hover-link: tint($secondary-base-color, 30%),
  icon: $primary-base-color,
  nprogress: $secondary-base-color,
  border: tint($primary-base-color, 35%),
  light-border: tint($primary-base-color, 70%),
  focus-outline: rgba($primary-base-color, 0.3)
);

$schemed-colors: (
  accent: (
    primary: $primary-base-color,
    secondary: $secondary-base-color,
    red: $red-base-color,
    blue: $blue-base-color
  ),
  hover-accent: (
    primary: tint($primary-base-color, 30%),
    secondary: tint($secondary-base-color, 30%),
    red: tint($red-base-color, 30%),
    blue: tint($blue-base-color, 30%)
  ),
  border: (
    primary: tint($primary-base-color, 35%),
    red: tint($red-base-color, 35%),
    blue: tint($blue-base-color, 35%),
  ),
  input-box-shadow: (
    primary: rgba($primary-base-color, 0.1),
    red: rgba($red-base-color, 0.1),
    blue: rgba($blue-base-color, 0.1),
  ),
  button-text: (
    primary: white,
    red: white,
    blue: white
  ),
  button-border: (
    primary: rgba(black, 0.3),
    red: rgba(black, 0.3),
    blue: rgba(black, 0.3)
  ),
  button-background: (
    primary: $primary-base-color,
    red: $red-base-color,
    blue: $blue-base-color
  ),
  hover-button-background: (
    primary: tint($primary-base-color, 10%),
    red: tint($red-base-color, 10%),
    blue: tint($blue-base-color, 10%)
  ),
  active-button-background: (
    primary: shade($primary-base-color, 20%),
    red: shade($red-base-color, 20%),
    blue: shade($blue-base-color, 20%)
  ),
  button-gradient: (
    primary: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.25)),
    red: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.25)),
    blue: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.25)),
  ),
  active-button-shadow: (
    primary: rgba(black, 0.1),
    red: rgba(black, 0.1),
    blue: rgba(black, 0.1)
  ),
  light-button-text: (
    primary: $primary-base-color,
    red: $red-base-color,
    blue: $blue-base-color
  ),
  light-button-background: (
    primary: tint($primary-base-color, 90%),
    red: tint($red-base-color, 90%),
    blue: tint($blue-base-color, 90%)
  ),
  hover-light-button-background: (
    primary: tint($primary-base-color, 82%),
    red: tint($red-base-color, 82%),
    blue: tint($blue-base-color, 82%)
  ),
  active-light-button-background: (
    primary: tint($primary-base-color, 65%),
    red: tint($red-base-color, 65%),
    blue: tint($blue-base-color, 65%)
  ),
  light-button-gradient: (
    primary: linear-gradient(to bottom, rgba(black, 0), rgba($primary-base-color, 0.2)),
    red: linear-gradient(to bottom, rgba(black, 0), rgba($red-base-color, 0.2)),
    blue: linear-gradient(to bottom, rgba(black, 0), rgba($blue-base-color, 0.2))
  ),
  active-light-button-shadow: (
    primary: rgba($primary-base-color, 0.1),
    red: rgba($red-base-color, 0.1),
    blue: rgba($blue-base-color, 0.1)
  ),
  focus-outline: (
    primary: rgba($primary-base-color, 0.3),
    secondary: rgba($secondary-base-color, 0.3),
    red: rgba($red-base-color, 0.3),
    blue: rgba($blue-base-color, 0.3)
  )
);

html[data-theme="light"] {
  @include color-variables($colors, $schemed-colors);
}