@charset "utf-8";

@import "/client/component/mixin.scss";


.content {
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  padding: 20px 20px;
  background-color: $background-color;
  border-radius: $large-border-radius;
  box-sizing: border-box;
  position: relative;
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  @include icon-font;
  width: $icon-width;
  font-size: 250%;
  color: map-get($colors, error);
  text-align: center;
  display: inline-block;
}

.text {
  @include line-height;
  margin: 0px 0px 0px 15px;
  text-align: justify;
}

.button {
  margin: 20px 0px 0px 0px;
  text-align: right;
}

.button >* {
  @include reset-first-margin;
  margin: 0px 0px 0px $control-horizontal-margin;
}