@charset "utf-8";

@import "/client/component/mixin.scss";


.content {
  width: 100%;
  max-width: 1500u;
  margin: 0rpx auto;
  padding: $large-margin $large-margin;
  background-color: $background-color;
  border-radius: $large-border-radius;
  box-sizing: border-box;
  position: relative;
}

.text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  font-size: 48rpx;
  color: map-get($colors, error);
  text-align: center;
  display: inline-block;
}

.text {
  @include line-height;
  margin: 0rpx 0rpx 0rpx $medium-margin;
  text-align: justify;
}

.button {
  margin: $large-margin 0rpx 0rpx 0rpx;
  text-align: right;
}

.button >* {
  @include reset-first-margin;
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
}