@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding: 0em 0.4em;
  font-size: 80%;
  font-weight: normal;
  color: $background-color;
  border-radius: 1em;
  background-color: $light-color;
}
