@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  bottom: 0.1em;
  padding: 0.15em 0.5em;
  font-size: $tiny-font-size;
  font-weight: normal;
  color: $background-color;
  border-radius: 1em;
  background-color: $head-color;
  display: inline-block;
  position: relative;
}

.root.highlight {
  background-color: $link-color;
}