@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  bottom: 0.1em;
  padding: 0.15em 0.5em;
  font-size: $tiny-font-size;
  font-weight: normal;
  color: color(background);
  border-radius: 1em;
  background-color: color(accent);
  display: inline-block;
  position: relative;
  &[data-highlight] {
    background-color: $link-color;
  }
}