@charset "utf-8";

@import "/client/component/animation.scss";
@import "/client/component/mixin.scss";


.button {
  @include button(map-get($colors, primary));
  &[data-position="left"],
  [data-control-group] >&:first-child,
  [data-control-group] >:first-child & {
    margin: 0rpx -1rpx 0rpx 0rpx;
    border-radius: $small-border-radius 0rpx 0rpx $small-border-radius;
  }
  &[data-position="right"],
  [data-control-group] >&:last-child,
  [data-control-group] >:last-child & {
    border-radius: 0rpx $small-border-radius $small-border-radius 0rpx;
  }
  &[data-position="middle"],
  [data-control-group] >&:not(:first-child):not(:last-child),
  [data-control-group] >:not(:first-child):not(:last-child) & {
    margin: 0rpx -1rpx 0rpx 0rpx;
    border-radius: 0rpx;
  }
  &[data-only-icon] {
    width: 2.2em;
    padding-left: 0em;
    padding-right: 0em;
  }
}

.button[data-intent="caution"] {
  @include button(map-get($colors, error));
}

.button[data-intent="information"] {
  @include button(map-get($colors, information));
}

.simple {
  padding: 0em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: $link-color;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  &:hover {
    color: $link-hover-color;
  }
  &[data-link] {
    text-decoration: underline;
  }
}

.icon {
  text-decoration: none;
  .button[data-loading] >& {
    visibility: hidden;
  }
}

.label {
  .icon +& {
    margin: 0em 0em 0em $blank-margin;
  }
  .button[data-hide-label] >&,
  .simple[data-hide-label] >& {
    @include smartphone {
      display: none;
    }
  }
  .button[data-loading] >& {
    visibility: hidden;
  }
}

.spinner-wrapper {
  top: 0rpx;
  left: 0rpx;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
  .button[data-loading] >& {
    visibility: visible;
  }
}