@charset "utf-8";

@import "/client/component/mixin.scss";


.button {
  @include button($primary-hue);
  padding: 0.1em 0.8em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.simple {
  @include link($secondary-hue);
  padding: 0em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background: none;
  outline: none;
}
