@charset "utf-8";

@import "/client/component/mixin.scss";


.button {
  @include button(map-get($colors, primary));
}

.button.caution {
  @include button(map-get($colors, error));
}

.button.information {
  @include button(map-get($colors, information));
}

.button.left {
  margin: 0u -3u 0u 0u;
  border-radius: $small-border-radius 0u 0u $small-border-radius;
}

.button.right {
  border-radius: 0u $small-border-radius $small-border-radius 0u;
}

.button.middle {
  margin: 0u -3u 0u 0u;
  border-radius: 0u;
}

.button.only-icon {
  width: 2.2em;
  padding-left: 0em;
  padding-right: 0em;
}

.simple {
  padding: 0em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: $link-color;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.simple:hover {
  color: $link-hover-color;
}

.simple.link {
  text-decoration: underline;
}

.icon {
  @include icon-font;
  text-decoration: none;
}

.icon +.label {
  margin: 0em 0em 0em $blank-margin;
}

.hide-label >.label {
  @include smartphone {
    display: none;
  }
}

.spinner-wrapper {
  top: 0u;
  left: 0u;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  visibility: hidden;
}

.loading >.spinner-wrapper {
  visibility: visible;
}

.loading >.label,
.loading >.icon {
  visibility: hidden;
}

.spinner {
  @include icon-font;
  width: 1em;
  height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: spin 1s steps(8, end) infinite;
}

.spinner::before {
  content: "\F110";
}