@charset "utf-8";

@import "/client/component/mixin.scss";


.root svg {
  font: inherit !important;
}

.root :global(.c3-axis) path,
.root :global(.c3-axis) line {
  stroke: $light-border-color;
}

.root :global(.c3-axis) text {
  font-size: 80%;
  fill: $light-border-color;
}

.root :global(.c3-grid) path,
.root :global(.c3-grid) line {
  stroke: $pale-border-color;
}

.root :global(.c3-line) {
  stroke: border-color(map-get($colors, information)) !important;
  stroke-width: 2px;
}

.root :global(.c3-circle) {
  fill: border-color(map-get($colors, information)) !important;
}