@charset "utf-8";

@import "/client/component/mixin.scss";


.root svg {
  font: inherit !important;
}

.root :global(.c3-axis) path,
.root :global(.c3-axis) line {
  stroke: color(border);
}

.root :global(.c3-axis) text,
.root :global(.c3-chart-arc) text,
.root :global(.c3-legend-item) {
  font-size: $tiny-font-size;
}

.root :global(.c3-axis) text {
  fill: color(border);
}

.root :global(.c3-grid) path,
.root :global(.c3-grid) line {
  stroke: color(light-border);
}

.root :global(.c3-line) {
  stroke-width: 2rpx;
}

.root :global(.c3-circle) {
  &[class~="_expanded_"] {
    stroke: none;
  }
}

.root :global(.c3-area) {
  opacity: 0.2 !important;
}

.root :global(.c3-chart-arc) path {
  stroke: color(background);
}

.root :global(.c3-target.c3-defocused) {
  opacity: 0.5 !important;
}

.root :global(.c3-zptooltip) {
  padding: $tooltip-vertical-padding $tooltip-horizontal-padding;
  font-size: $tiny-font-size;
  line-height: $tooltip-line-height;
  border: 1rpx transparent solid;
  border-radius: $small-border-radius;
  background-color: white;
}