@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.label {
  padding: 0em 0em 0em $blank-margin;
  position: relative;
}

.box {
  bottom: 0.1em;
  width: 1em;
  height: 1em;
  border: 1rpx $light-border-color solid;
  border-radius: $small-border-radius;
  background-color: white;
  box-shadow: $inset-box-shadow-setting input-box-shadow-color(map-get($colors, primary)) inset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  .checkbox:hover +& {
    border: 1rpx $light-color solid;
  }
  .checkbox:focus +& {
    box-shadow: $focus-box-shadow-setting focus-box-shadow-color(map-get($colors, primary));
  }
}

.icon {
  font-size: 90%;
  color: map-get($colors, primary);
  background-color: map-get($colors, primary);
  background-image: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.25));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-sizing: border-box;
  display: none;
  .checkbox:checked +* >& {
    display: block;
  }
  .checkbox:hover +* >& {
    color: hover-color(map-get($colors, primary));
  }
}