@charset "utf-8";

@import "/client/component/mixin.scss";


.checkbox {
  display: none;
}

.checkbox +.label {
  padding: 0em 0em 0em 1em + $blank-margin;
  position: relative;
  cursor: pointer;
}

.checkbox +.label::before {
  top: 0.1em;
  left: 0em;
  width: 1em;
  height: 1em;
  border: 1rpx $light-border-color solid;
  border-radius: $small-border-radius;
  background-color: white;
  box-shadow: $inset-box-shadow-setting input-box-shadow-color(map-get($colors, primary)) inset;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  content: "";
}

.checkbox:hover +.label::before {
  border: 1rpx $light-color solid;
}

.checkbox:checked +.label::after {
  @include icon-font;
  top: 0.3em;
  left: 0.15em;
  font-size: 80%;
  color: map-get($colors, primary);
  background-color: map-get($colors, primary);
  background-image: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.25));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-sizing: border-box;
  display: block;
  position: absolute;
  content: "\F00C";
}

.checkbox:hover +.label::after {
  color: map-get($colors, primary);
  background-color: hover-color(map-get($colors, primary));
}

.checkbox:focus +.label::before {
  box-shadow: $focus-box-shadow-setting focus-box-shadow-color(map-get($colors, primary));
}