@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: row;
}

.root >:first-child {
  margin: 0px -1px 0px 0px;
  border-radius: $small-border-radius 0px 0px $small-border-radius;
}

.root >:last-child {
  border-radius: 0px $small-border-radius $small-border-radius 0px;
}

.root >:not(:first-child):not(:last-child) {
  margin: 0px -1px 0px 0px;
  border-radius: 0px;
}