@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: row;
  >:first-child {
    margin: 0rpx -1rpx 0rpx 0rpx;
    border-radius: $small-border-radius 0rpx 0rpx $small-border-radius;
  }
  >:last-child {
    border-radius: 0rpx $small-border-radius $small-border-radius 0rpx;
  }
  >:not(:first-child):not(:last-child) {
    margin: 0rpx -1rpx 0rpx 0rpx;
    border-radius: 0rpx;
  }
}