@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  position: relative;
}

.suggestion {
  width: 100%;
  max-height: 150px;
  margin: -1px 0px 0px 0px;
  background-color: white;
  border: 1px $light-border-color solid;
  border-radius: $small-border-radius;
  box-sizing: border-box;
  display: block;
  position: absolute;
  overflow-y: auto;
  z-index: 50;
}

.suggestion-item {
  padding: 0.42em 0.5em;
  outline: none;
}

.suggestion-item:hover {
  background-color: background-color(map-get($colors, information));
  cursor: pointer;
}