@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  padding-block: $input-vertical-padding + line-intrusion($line-height);
  padding-inline: $input-horizontal-padding;
  text-align: start;
  outline: none;
  &:hover {
    background-color: schemed-color(background, primary);
    cursor: pointer;
  }
}