@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  position: relative;
}

.suggestion {
  margin: -1rpx 0rpx 0rpx 0rpx;
  background-color: white;
  border: 1rpx $light-border-color solid;
  border-radius: $small-border-radius;
  box-sizing: border-box;
  display: block;
  position: absolute;
  z-index: 50;
  &[data-placement="left"] {
    left: 0rpx;
  }
  &[data-placement="right"] {
    right: 0rpx;
  }
  &[data-show-arrow] {
    margin: $small-margin 0rpx 0rpx 0rpx;
  }
  &[data-fill-width] {
    width: 100%;
  }
  &[data-restrict-height] {
    max-height: 150rpx;
    overflow-y: auto;
  }
}

.suggestion-item {
  padding: $input-vertical-padding + line-intrusion($line-height) $input-horizontal-padding;
  text-align: left;
  outline: none;
  &:hover {
    background-color: background-color(map-get($colors, information));
    cursor: pointer;
  }
}

.arrow {
  display: none;
  .suggestion[data-show-arrow] >& {
    display: block;
  }
  &::before {
    top: -16rpx;
    left: 16rpx;
    margin-left: -8rpx;
    border: 8rpx transparent solid;
    border-bottom: 8rpx $light-border-color solid;
    position: absolute;
    content: "";
  }
  &::after {
    top: -15rpx;
    left: 16rpx;
    margin-left: -8rpx;
    border: 8rpx transparent solid;
    border-bottom: 8rpx white solid;
    position: absolute;
    content: "";
  }
}