@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.label {
  margin: 0em 0em 0.4em 0em;
  font-size: 80%;
  color: $light-color;
  line-height: 1;
}

.input-wrapper {
  flex-grow: 1;
}

.input {
  @include input(map-get($colors, primary));
}

.button {
  @include button(map-get($colors, primary));
  margin: 0px 0px 0px -1px;
  border-radius: 0px $small-border-radius $small-border-radius 0px;
}

.file {
  display: none;
}