@charset "utf-8";

@import "/client/component/mixin.scss";


.root-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.input-container {
  flex-grow: 1;
}

.input {
  @include input(primary);
  border-radius: $small-border-radius 0rpx 0rpx $small-border-radius;
}

.input[data-error] {
  @include input(red);
  border-radius: $small-border-radius 0rpx 0rpx $small-border-radius;
}

.button {
  @include button(primary);
  margin: 0rpx 0rpx 0rpx -1rpx;
  border-radius: 0rpx $small-border-radius $small-border-radius 0rpx;
}

.original {
  display: none;
}