@charset "utf-8";

@import "/client/component/mixin.scss";


.label-container {
  flex-grow: 1;
}

.input-container {
  border-radius: $small-border-radius;
  display: flex;
  position: relative;
  flex-grow: 1;
  .original:focus +& {
    outline: $focus-size solid color(focus);
  }
  .label-container[data-error] .original:focus +& {
    outline: $focus-size solid schemed-color(focus, red);
  }
}

.input {
  @include input(primary);
  border-radius: $small-border-radius 0rpx 0rpx $small-border-radius;
  cursor: pointer;
  .label-container[data-error] & {
    @include input(red);
    border-radius: $small-border-radius 0rpx 0rpx $small-border-radius;
    cursor: pointer;
  }
}

.button {
  @include light-button(primary);
  margin: 0rpx 0rpx 0rpx -1rpx;
  border-radius: 0rpx $small-border-radius $small-border-radius 0rpx;
}

.original {
  position: absolute;
  opacity: 0;
  z-index: -1;
}