@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  line-height: $line-height;
  border-radius: $small-border-radius;
  background-color: color(input-background);
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  overflow-x: auto;
}

.root >div {
  @include monospace-font;
  height: auto;
  padding: $box-vertical-padding $box-horizontal-padding;
  white-space: pre;
  background: transparent;
  box-sizing: border-box;
}