@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  line-height: $text-line-height;
  border-radius: $small-border-radius;
  background-color: white;
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
  overflow-x: auto;
}

.root >div {
  @include monospace-font;
  height: auto;
  padding: 0.12em 0.5em;
  white-space: pre;
  background: transparent;
  box-sizing: border-box;
}