@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  line-height: 0;
}

.root-stack {
  line-height: 0;
  position: relative;
}

.root-stack :not(:first-child) {
  top: 0em;
  left: 0em;
  position: absolute;
}