@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  position: relative;
}

.label-wrapper {
  display: block;
}

.label {
  margin: 0em 0em 0.4em 0em;
  font-size: 80%;
  color: $light-color;
  line-height: 1;
}

.input {
  @include input(map-get($colors, primary));
}

.input.error {
  @include input(map-get($colors, error));
}

.button {
  @include icon-font;
  width: 1.6em;
  margin: 0em 0em 0em -2em;
  color: $link-color;
  line-height: 0.9;
  text-align: center;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.button:hover {
  color: $link-hover-color;
}

.button::before {
  content: "\F070";
}

.button.password::before {
  content: "\F06E";
}

.message {
  margin: 0.4em 0em 0em 0em;
  font-size: 80%;
  color: map-get($colors, error);
  line-height: $line-height;
}

.message.tooltip {
  margin: 10px 0px 0px 0px;
  padding: 0.2em 0.6em;
  color: background-color(map-get($colors, error));
  background-color: map-get($colors, error);
  text-align: justify;
  border-radius: $small-border-radius;
  position: absolute;
  z-index: 50;
}

.message.tooltip:before {
  top: -15px;
  left: 20px;
  margin-left: -8px;
  border: 8px transparent solid;
  border-bottom: 8px map-get($colors, error) solid;
  position: absolute;
  content: "";
}