@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  font-size: $tiny-font-size;
  color: color(accent);
  &[data-error] {
    color: schemed-color(accent, red);
  }
  &[data-position="top"] {
    margin: 0rpx 0rpx 3rpx 0rpx;
  }
  &[data-position="left"] {
    margin: 0rpx 5rpx 0rpx 0rpx;
  }
}

.required,
.optional {
  margin-inline-start: $blank-margin;
}