@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  font-size: $tiny-font-size;
  color: map-get($colors, primary);
  &[data-position="top"] {
    margin: 0rpx 0rpx 3rpx 0rpx;
  }
  &[data-position="left"] {
    margin: 0rpx 5rpx 0rpx 0rpx;
  }
  &[data-error] {
    color: map-get($colors, error);
  }
}

.required,
.optional {
  margin: 0em 0em 0em $blank-margin;
}