@charset "utf-8";

@import "/client/component/mixin.scss";


.link {
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: $link-hover-color;
  }
}

.plane {
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: inherit;
  }
}