@charset "utf-8";

@import "/client/component/mixin.scss";


.link {
  color: schemed-color(accent, secondary);
  border-radius: $small-border-radius;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: schemed-color(hover-accent, secondary);
  }
  &:focus-visible {
    outline: $focus-size solid schemed-color(focus, secondary);
  }
}

.plane {
  color: inherit;
  border-radius: $small-border-radius;
  text-decoration: inherit;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}