@charset "utf-8";

@import "/client/component/mixin.scss";


.link {
  color: color(link);
  border-radius: $small-border-radius;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: color(hover-link);
  }
  &:focus-visible {
    outline: $focus-size solid schemed-color(focus-outline, secondary);
  }
}

.plane {
  color: inherit;
  border-radius: $small-border-radius;
  text-decoration: inherit;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}