@charset "utf-8";

@import "/client/component/mixin.scss";


.background {
  width: 100%;
  height: 100%;
  background-color: rgba(darken(map-get($colors, primary), 40%), 0.6);
  position: absolute;
  z-index: 200;
}

.spacer {
  width: calc(100% - #{$page-horizontal-margin} * 2);
  height: 100%;
  margin: 0rpx $page-horizontal-margin 0rpx $page-horizontal-margin;
  padding: 0rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  pointer-events: none;
  z-index: 220;
}

.spacer >* {
  pointer-events: auto;
}