@charset "utf-8";

@import "/client/component/mixin.scss";


$overlay-header-height: 50rpx;

.content-container {
  width: 100%;
  max-width: $page-width;
  max-height: 90%;
  margin: 0rpx auto;
  background-color: color(background);
  border-radius: $large-border-radius;
  box-sizing: border-box;
  position: relative;
  &[data-size="large"] {
    height: 90%;
  }
}

.header {
  width: 100%;
  height: $overlay-header-height;
  padding: 0rpx $huge-margin;
  border-bottom: 1rpx solid color(border);
  border-radius: $large-border-radius $large-border-radius 0rpx 0rpx;
  background-color: color(white-background);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.title {
  @include bold-font;
}

.right >* {
  @include reset-first-margin;
  margin: 0rpx 0rpx 0rpx $control-horizontal-margin;
}

.content {
  padding: $huge-margin $huge-margin;
  .content-container[data-size="large"] >& {
    height: 100%;
    overflow-y: scroll;
  }
  .content-container[data-size="large"] >.header +& {
    height: calc(100% - #{$overlay-header-height});
  }
}