@charset "utf-8";

@import "/client/component/mixin.scss";


:global(.portal) {
  top: 0rpx;
  bottom: 0rpx;
  left: 0rpx;
  right: 0rpx;
  position: fixed;
  pointer-events: none;
  &:global(.front) {
    z-index: 200;
  }
  &:global(.back) {
    z-index: 180;
  }
}