@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.root >* {
  @include reset-first-margin;
  margin: 0px 0px 0px $control-horizontal-margin;
}