@charset "utf-8";

@import "/client/component/mixin.scss";


.radio {
  display: none;
}

.radio +.label {
  padding: 0em 0em 0em 1.2em;
  position: relative;
  cursor: pointer;
}

.radio +.label::before {
  top: 0.1em;
  left: 0em;
  width: 1em;
  height: 1em;
  border: 1px $light-border-color solid;
  border-radius: 50%;
  background: white;
  box-shadow: $inset-box-shadow-setting input-box-shadow-color(map-get($colors, primary)) inset;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  content: "";
}

.radio:hover +.label::before {
  border: 1px $light-color solid;
}

.radio:checked +.label::after {
  top: calc(0.1em + 4px);
  left: 4px;
  width: calc(1em - 8px);
  height: calc(1em - 8px);
  border-radius: 50%;
  background: button-background(map-get($colors, primary));
  box-sizing: border-box;
  display: block;
  position: absolute;
  content: "";
}

.radio:hover +.label::after {
  background: button-hover-background(map-get($colors, primary));
}

.radio:focus +.label::before {
  box-shadow: $focus-box-shadow-setting focus-box-shadow-color(map-get($colors, primary));
}