@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  cursor: pointer;
}

.original-wrapper {
  position: relative;
}

.original {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.label {
  padding-inline-start: $blank-margin;
  position: relative;
}

.box {
  width: 1em;
  height: 1em;
  inset-block-end: 0.1em;
  border: 1rpx solid color(border);
  border-radius: 50%;
  background-color: color(input-background);
  box-shadow: inset $inset-box-shadow-setting schemed-color(input-shadow, primary);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  .original:focus-visible +& {  
    outline: $focus-size solid color(focus);
  }
}

.icon {
  width: calc(1em - 8rpx);
  height: calc(1em - 8rpx);
  border-radius: 50%;
  background-color: schemed-color(button-background, primary);
  box-sizing: border-box;
  display: none;
  .original:checked +* >& {
    display: block;
  }
  .original:hover +* >& {
    background-color: schemed-color(hover-button-background, primary);
  }
}