@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  cursor: pointer;
}

.original {
  display: none;
}

.label {
  padding: 0em 0em 0em $blank-margin;
  position: relative;
}

.box {
  bottom: 0.1em;
  width: 1em;
  height: 1em;
  border: 1rpx color(border) solid;
  border-radius: 50%;
  background-color: color(input-background);
  box-shadow: inset $inset-box-shadow-setting schemed-color(input-shadow, primary);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  .original:focus +& {
    outline: $focus-size solid color(focus);
  }
}

.icon {
  width: calc(1em - 8rpx);
  height: calc(1em - 8rpx);
  border-radius: 50%;
  background-color: schemed-color(button-background, primary);
  box-sizing: border-box;
  display: block;
  display: none;
  .original:checked +* >& {
    display: block;
  }
  .original:hover +* >& {
    background-color: schemed-color(hover-button-background, primary);
  }
}