@charset "utf-8";

@import "/client/component/mixin.scss";


.radio {
  display: none;
}

.radio +.label {
  padding: 0em 0em 0em 1em + $blank-margin;
  position: relative;
  cursor: pointer;
}

.radio +.label::before {
  top: 0.1em;
  left: 0em;
  width: 1em;
  height: 1em;
  border: 3u $light-border-color solid;
  border-radius: 50%;
  background-color: white;
  box-shadow: $inset-box-shadow-setting input-box-shadow-color(map-get($colors, primary)) inset;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  content: "";
}

.radio:hover +.label::before {
  border: 3u $light-color solid;
}

.radio:checked +.label::after {
  top: calc(0.1em + 12u);
  left: 12u;
  width: calc(1em - 24u);
  height: calc(1em - 24u);
  border-radius: 50%;
  background-color: map-get($colors, primary);
  background-image: linear-gradient(to bottom, rgba(black, 0), rgba(black, 0.25));
  box-sizing: border-box;
  display: block;
  position: absolute;
  content: "";
}

.radio:hover +.label::after {
  background-color: hover-color(map-get($colors, primary));
}

.radio:focus +.label::before {
  box-shadow: $focus-box-shadow-setting focus-box-shadow-color(map-get($colors, primary));
}