@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.root >* {
  margin: 0px 0px 0px 20px;
}

.root >*:first-child {
  margin: 0px;
}