@charset "utf-8";

@import "/client/component/mixin.scss";


.label-wrapper {
  display: block;
}

.selection {
  @include input(map-get($colors, primary));
  display: flex;
}

.text {
  text-align: left;
  flex-grow: 1;
  overflow-x: hidden;
}

.arrow {
  margin: 0em 0em 0em $input-horizontal-padding;
}

.arrow::before {
  @include icon-font;
  color: $light-color;
  content: "\F107";
}