@charset "utf-8";

@import "/client/component/mixin.scss";


.label-wrapper {
  display: block;
}

.selection {
  @include input(map-get($colors, primary));
  display: flex;
}

.text {
  margin: 0em 0.5em 0em 0em;
  flex-grow: 1;
}

.icon::before {
  @include icon-font;
  color: $light-color;
  content: "\F107";
}