@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.label {
  margin: 0px 0px 5px 0px;
  font-size: 80%;
  color: $light-color;
}

.textarea {
  @include input(map-get($colors, primary));
  padding: 0.25em 0.5em;
  display: block;
  resize: none;
  flex-grow: 1;
}

.textarea.monospace {
  font-family: $monospace-font-family, monospace;
  font-size: 90%;
  font-feature-settings: "palt" 0, "pkna" 0;
}