@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.textarea {
  @include input(primary);
  padding: $textarea-vertical-padding $input-horizontal-padding;
  display: block;
  resize: none;
  flex-grow: 1;
  &[data-font="monospace"] {
    @include monospace-font;
  }
  &[data-nowrap] {
    white-space: pre;
    overflow: auto;
  }
}

.code {
  @include input(primary);
  height: 100%;
  padding: 0rpx;
  display: block;
  resize: none;
  flex-grow: 1;
  position: relative;
}

.code >div {
  @include monospace-font;
  padding: 0em;
  background: transparent;
  box-sizing: border-box;
  .code-wrapper[data-fit-height="no-fit"] & {
    height: 100%;
    top: 0rpx;
    bottom: 0rpx;
    left: 0rpx;
    right: 0rpx;
    position: absolute;
  }
  .code-wrapper[data-fit-height="fit"] & {
    height: auto;
  }
}

.code >div *[class~="CodeMirror-lines"] {
  padding: $textarea-vertical-padding 0em !important;
} 

.code >div *[class~="CodeMirror-line"] {
  padding: 0em $input-horizontal-padding !important;
}