@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  font-size: $tiny-font-size;
  border-radius: $small-border-radius;
  pointer-events: none;
  z-index: 50;
  &[data-scheme="primary"] {
    color: schemed-color(accent, primary);
    background-color: schemed-color(background, primary);
    border: 1rpx solid schemed-color(border, primary);  
    --arrow-color: #{schemed-color(background, primary)};
    --arrow-border-color: #{schemed-color(border, primary)};
  }
  &[data-scheme="red"] {
    color: schemed-color(accent, red);
    background-color: schemed-color(background, red);
    border: 1rpx solid schemed-color(border, red);  
    --arrow-color: #{schemed-color(background, red)};
    --arrow-border-color: #{schemed-color(border, red)};
 }
  &[data-scheme="blue"] {
    color: schemed-color(accent, blue);
    background-color: schemed-color(background, blue);
    border: 1rpx solid schemed-color(border, blue);  
    --arrow-color: #{schemed-color(background, blue)};
    --arrow-border-color: #{schemed-color(border, blue)};
 }
  &[data-hidden="true"] {
    visibility: hidden;
    pointer-events: none;
  }
}

.arrow {
  @include arrow(var(--arrow-color), var(--arrow-border-color), 6rpx);
  display: none;
  .root[data-show-arrow] >& {
    display: block;
  }
}

.text {
  margin: 0rpx;
  padding-block: $tooltip-vertical-padding;
  padding-inline: $tooltip-horizontal-padding;
  line-height: $tooltip-line-height;
}