@charset "utf-8";

@import "/client/component/mixin.scss";


.root {
  position: relative;
}

.tooltip {
  margin: $small-margin 0rpx 0rpx 0rpx;
  padding: $tooltip-vertical-padding $tooltip-horizontal-padding;
  font-size: $tiny-font-size;
  color: map-get($colors, error);
  background-color: background-color(map-get($colors, error));
  border: 1rpx border-color(map-get($colors, error)) solid;
  border-radius: $small-border-radius;
  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 50;
}

:focus-within +.tooltip {
  display: block;
}

.tooltip::before {
  top: -48u;
  left: 48u;
  margin-left: -24u;
  border: 24u transparent solid;
  border-bottom: 24u border-color(map-get($colors, error)) solid;
  position: absolute;
  content: "";
}

.tooltip::after {
  top: -45u;
  left: 48u;
  margin-left: -24u;
  border: 24u transparent solid;
  border-bottom: 24u background-color(map-get($colors, error)) solid;
  position: absolute;
  content: "";
}

.tooltip-text {
  margin: 0rpx;
  line-height: $tooltip-line-height;
  text-align: justify;
}