@charset "utf-8";


.root {
  width: 100%;
  background-image: linear-gradient(-45deg, transparent 25%, var(--glob-border-color) 25%, var(--glob-border-color) 50%, transparent 50%, transparent 75%, var(--glob-border-color) 75%, var(--glob-border-color));
  background-size: 4zu 4zu;
}